[2020-01-08 08:43] rockmandash opened #28 "Should be window.innerHeight"
https://github.com/antfu/vueuse/blob/bff92fe22cfd2b164317107e041a89ae7bb6e15d/packages/core/useWindowSize/index.ts#L7

[2020-01-08 09:19] antfu commented on #28
Good finding out. Thanks!

[2020-01-08 09:54] #28 closed

[2020-01-11 10:15] danielroe opened #31 "Type error with usePermission declaration"
When using the current version of this package and TypeScript 3.7.4, I get the following error on compilation:

[code]

This appears to be because the function signature is exported but not the type from `usePermission`:

https://github.com/antfu/vueuse/blob/91a5c40130d195fdef42a36d9b3f5bbf12eff190/packages/core/usePermission/index.ts#L13

[2020-01-11 11:58] antfu commented on #31
@danielroe I thought this should be handled correctly by Typescript 🤔. FIxed in v0.0.16. Thanks!

[2020-01-11 12:03] danielroe commented on #31
@antfu I agree, it seems TypeScript being idiosyncratic! Thanks for the great library 😀

[2020-01-11 12:03] #31 closed

[2020-02-10 14:00] vmihailenco opened #46 "useStorage does not allow store 0 (falsey values in general)"
In my case `0` is the array index  which it is rather common I think. Instead default value is used - https://github.com/antfu/vueuse/blob/master/packages/core/useStorage/index.ts#L9-L11

[2020-02-11 04:14] antfu commented on #46
@vmihailenco Thanks for the feedback, please update the package to `x.0.17`. You can bind primitives now

[code]

[2020-02-11 07:34] vmihailenco commented on #46
Thanks, `useStoragePlain` works, but `useStorage` still does not. If that is intented - I will be using `useStoragePlain` for primitives.

[2020-02-11 07:44] vmihailenco commented on #46
I've spoken too early - both seems to be broken now. You can check https://vueuse.js.org/?path=/story/state--usestorageplain which shows `NaN` (and I get the same value in my code). And `useStorage("foo", '')` seems to return `""` now.

[2020-02-11 09:30] antfu commented on #46
@vmihailenco Oh, thanks! Fixed in `x.0.18`.

Yes, it's intended. I will see if I can generalize them into one. But for now, please use `useStorage` for objects and `useStoragePlain` for primitives. Thanks.

[2020-02-21 01:24] antfu commented on #46
Hi @vmihailenco, I just release a new version x.0.19.

`useStorage` now supports objects and primitives, along with `useLocalStorage` and `useSessionStorage`. `useStoragePlain` is no longer needed :)

[2020-02-21 07:33] vmihailenco commented on #46
Thanks @antfu - I will make sure to try it once new version is available at npm. I just tried and 2.0.18 is still the latest version available.

[2020-02-21 07:33] #46 closed

[2020-02-21 11:05] antfu commented on #46
Somehow the recent @rollup/plugin-typescript update made the building failed silently. I have made a rollback and release x.0.20. Please check it out, it should work fine this time.

[2020-02-21 11:30] vmihailenco commented on #46
Seems to work fine - thank you!

[2020-03-11 15:54] vberlier opened #56 "Invalid Y coordinate in useMouseInElement()"
Hello!

Just letting you know that [here](https://github.com/antfu/vueuse/blob/2e188505ca173ece8293cb3f6873d37695d3bdbf/packages/core/useMouseInElement/index.ts#L38) `y.value` is currently set to `event.pageX` and `event.touches[0].clientX`. There's also kind of the same problem a bit [further down](https://github.com/antfu/vueuse/blob/2e188505ca173ece8293cb3f6873d37695d3bdbf/packages/core/useMous

[2020-03-11 16:26] antfu commented on #56
Thanks for spotting that! I have fixed it and will make a new release soon :)

[2020-03-12 21:52] antfu commented on #56
Released as `x.0.21`. Thanks :)

[2020-03-13 00:13] vberlier commented on #56
Awesome!

[2020-03-13 00:13] #56 closed

[2020-03-17 06:11] IndexXuan opened #59 "no createGlobalState export"
Great Lib, Thanks a LOT ！
But it seems no createGlobalState in npm, while in the doc site. Please publish code in npm ?

[2020-03-17 08:00] #59 closed

[2020-03-17 08:00] antfu commented on #59
Thanks for spotting that! Fixed in `x.0.22`.

[2020-03-21 03:59] scottbedard opened #60 "Adding utility to test viewport visibility"
First off, awesome repo you have here!

Would you accept a utility for determining a component's position within the viewport? This sort of thing can be handy when trying to defer expensive operations like data fetching or complex rendering. Here is a brief example of what I am proposing...

[code]

If you're open to this util, I'll put together a PR. And just for fun, here is a more realistic exa

[2020-03-21 07:08] scottbedard commented on #60
Quick update, I was bored so I threw together a basic implementation. Let me know if there is anything you want to tweak. One thing that might be nice to add is a "threshold", so we can treat something as on-screen once it gets within 200px or whatever.

Also if you decide you don't want this util, just go ahead and close the issue/pr 👍

[2020-03-21 07:25] antfu commented on #60
It looks great, thank you for the proposal and implementation! I have left some comments in the PR, please have a look :)

For the threshold, I am not sure what use cases this utility would be. A basic one comes in my mind would be returning an `invisible | partial | visible` state. Another way with better controllability (but more complex and costly) might be returning an object with `visibleArea

[2020-03-21 14:24] scottbedard commented on #60
My use case for a threshold is [this page](https://speedcube.site/records). I'd like to avoid rendering 3D content that is off the screen, but it might be nice to render it when it is soon to be on screen to avoid a flicker. This could be over-optimizing though, so why don't we keep it simple to start and return a boolean. If it turns out this is not enough, it'll be an easy option to add and won'

[2020-03-21 19:02] scottbedard opened #62 "State easing"
While I'm in here, would you mind if I added one more util to the library? This one would be for transitioning state along [cubic bezier curves](https://easings.net/). Below is an example of what I'm proposing...

[code]

[2020-03-21 19:20] scottbedard commented on #62
And just for fun, an example of using the util to transition colors, and maybe some shorthand?

[code]

[2020-03-22 04:03] antfu commented on #62
This looks very useful, but my concern is that this can be over complicated to implement well and may surpass the goal of VueUse. Libraries like [tween.js](https://github.com/tweenjs/tween.js/) are much more mature and flexible to this, maybe we could add a wrapper addon for that?

[2020-03-22 04:07] antfu commented on #60
Sure, let's keep it simple first.

Awesome website btw :)

[2020-03-22 04:07] #60 closed

[2020-03-22 04:08] scottbedard commented on #62
I don't think it's necessary to pull in additional libraries. I've thrown together a proof of concept that I can push up in just a few minutes, just cleaning some things up right now. If you look at it and decide you'd rather use a library like Tween, no worries, just go ahead and close the PR when I open it 🙂

[2020-03-22 04:45] scottbedard commented on #62
@antfu ok I've pushed up what I've done. [This is the only complicated bit](https://github.com/antfu/vueuse/pull/63/files#diff-568e52af26345056c37625165c10836aR15-R38), it creates a function that we can use to get the corresponding value at various points in the transition. Let me know if you're ok with this amount of complexity in this library, because if so there are a couple changes I want to m

[2020-03-22 17:31] scottbedard commented on #62
@antfu ok, we should be good to go now. I've made the refactor to a raf loop. I'm pleased with how it came out, the transition is much smoother now.

I made a couple other changes, let me know if you have any opinions on these...
1. Renamed "easing" to "transition", I think it's a bit more descriptive of what this utility is for
2. If the base number changes while state is still transitioning, the

[2020-03-23 10:47] antfu commented on #62
Shipped in v0.0.23. Thanks :)

[2020-03-23 14:55] scottbedard commented on #62
Awesome, thanks for letting me wedge those two utils into this library 😄

[2020-03-23 14:55] #62 closed

[2020-03-23 20:53] scottbedard opened #67 "Page visibility util"
Hi, sorry I know I've been spamming this repo a bit lately, but I've got just one more util if you're open to it. I'd like to add a util to [detect if the window is active / minimized](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API). This can be useful for things like auto-pausing media, updating the document title, etc...

[code]

[2020-03-24 02:44] antfu commented on #67
Contributions are always welcome! Thanks for great work.

Your proposal is definitely good to have, however, I think the callback functions are kinda unnecessary. Users can simply use `watch` to do the job and I think it is most of the functions in this lib are for.

[code]

This may be a reference for your implementation: https://github.com/kripod/react-hooks/tree/master/packages/web-api-hooks#us

[2020-03-24 04:11] scottbedard commented on #67
Ok I've pushed up the utility function, let me know if there is anything else you need from me 🙂

[2020-03-24 14:48] #67 closed

[2020-03-29 11:37] Donskelle opened #69 "Feature Request: New Hook useWorkerFunction"
Hey, i would like to contribute a port of https://github.com/alewin/useworker.
Its a Hook to extract heavy operation right in your Component Code without writing extra files. It uses [Object Url](https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL) to create workers at runtime and represent workers as promises.
I really like it and i would like to use it in Vue. What do you think

[2020-03-29 13:08] antfu commented on #69
It looks very cool on first glance. PR is welcome :)

I am not very familiar with web worker thing, but I would love to learn. Maybe let's see the PR first and then I may able to do some help. Looking forward to that, Thanks!👍

For the naming, I would prefer useWebWorkerFn or useWebWorkerFunction to better align with the existing useWebWorker one.

[2020-03-30 07:33] Donskelle commented on #69
I've opened a pr.

[2020-03-30 07:33] #69 closed

[2020-04-14 07:38] thearabbit opened #75 "npm WARN @vueuse/core@2.0.24 requires a peer of @vue/composition-api@^0.3.0 but none is installed"
I base on
[code]

[2020-04-14 07:52] antfu commented on #75
Can you try to run `npm i` again and see if the warning still preserves?

[2020-04-14 08:10] thearabbit commented on #75
still the same
[code]

[2020-04-14 09:55] antfu commented on #75
Oh I see, semver treat 0.x version differently. https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004

I will make a change address to that. Thanks!

[2020-04-14 09:58] thearabbit commented on #75
could close?

[2020-04-14 10:04] antfu commented on #75
v0.0.26 released with the fix.

[2020-04-14 11:52] #75 closed

[2020-04-14 12:01] thearabbit commented on #75
Wow still the same
[code]

[2020-04-14 12:02] thearabbit commented on #75
My package
[code]

[2020-04-14 13:04] antfu commented on #75
My bad. Fixed in 9ffd6e74386f91b029ebc226060be91021ec760e. Will ship in next release. Thanks

[2020-04-14 13:56] thearabbit commented on #75
thanks again 👍

[2020-05-01 21:10] danielroe opened #77 "`StopHandle` has been renamed to `WatchStopHandle`"
In the [latest beta](https://github.com/vuejs/vue-next/blob/master/CHANGELOG.md#300-beta5-2020-04-30), `StopHandle` has been renamed to `WatchStopHandle` which means that `@vueuse` currently causes a type error.

[2020-05-02 05:13] jonjanisch opened #78 "useStorage("anyKey", true) defaults to false"
Version: 2.0.26 (Vue 2)
Chrome: 81.0.4044.12 on OSX

[code]
I put a breakpoint in useStorage and in the read method, there seems to be a bug:

[code]

Due to the null/undefined mixup, the code enters the else clause and there seems to be an issue there too.

`data.value = Serializers[type].read(rawValue, defaultValue);`

If passes in two values to the serializer (rawValue=null, defaultValue=true),

[2020-05-02 19:05] antfu commented on #77
Currently `@vue/composition-api` is misaligned with the latest beta, I am still wait for several PRs getting merge so that I can move on to the latest apis. Thanks for the info and please keep tuned!

[2020-05-02 19:12] #78 closed

[2020-05-02 19:13] antfu commented on #78
Thanks for helping investigate! Fixed in 0.0.27

[2020-05-22 00:06] Almoullim opened #84 "vue2 useFirestore TS types error"
Error:
[code]
Code:
[code]
[code]
versions:
[code]

[2020-05-23 18:55] antfu commented on #84
Can you try:
[code]

[2020-05-23 19:54] antfu commented on #77
`@vue/composition-api` seems to be not actively maintained for some reason. I decided not to wait for it and make polyfill on my own.

Can you show me how do you get the type error? I didn't see which function is using it.

[2020-05-23 22:28] danielroe commented on #77
@antfu Having just checked, this is no longer a problem in the latest versions of `vueuse` and `vue`.

[2020-05-23 22:28] #77 closed

[2020-05-23 23:56] #84 closed

[2020-06-14 11:02] vmihailenco opened #88 "Types seems to be broken with composition-api v0.6.3"
I get errors like

[code]

Same code works with composition-api v0.6.1

[2020-06-16 00:43] #88 closed

[2020-06-16 00:50] antfu commented on #88
Should be fixed in 2.0.34. Thanks!

[2020-06-19 03:23] Leecason opened #91 "Feature: eventBus"
Hi! In Vue3, vue instance no longer implement the event emitter interface.

So `eventBus` will no longer be available.

[code]

there's a way to implement this event emitter/pubsub feature by composition-api?

[2020-06-20 02:47] antfu commented on #91
Hi @Leecason. From the case you provide, it's more like a general bus/boardcast. I don't see it's related to Vue much. Can you show me more examples of your usage? Thanks

[2020-06-20 13:08] antfu commented on #91
And if you need a bus, maybe you can try [mitt](https://github.com/developit/mitt) :)

[2020-06-20 14:33] Leecason commented on #91
Thanks for the reply.
I have known about `mitt`, but this package has no dependencies, so I think it is possible to integrate eventBus (like `mitt`) into a hook or some other advice?

usage code:

[code]

[code]

[2020-06-20 15:32] antfu commented on #91
[code]

Something like this?

[2020-06-21 02:38] Leecason commented on #91
Yes, awesome, will this hook be integrated into this package?

[2020-06-21 07:05] antfu commented on #91
I still recommend using mitt, as I can't do any better than it. If you do want to ask for this feature, the best solution I can have is to make a plugin `@vueuse/mitt` that would still require you to install `mitt`.

[2020-06-21 12:32] Leecason commented on #91
Thank you, I'll just do it on my own project.

[2020-06-21 12:32] #91 closed

[2020-07-01 05:43] jacobclevenger opened #94 "Incorrect type definition file for Vue 3 version of Vueuse."
The type definition file for the Vue 3 version of Vueuse attempts to import `@vue/composition-api` which causes errors at build time. I don't believe this package is needed for Vue 3 and installing it causes more errors as it depends on Vue 2

Relevant Packages:
[code]

Error Log:
[code]

[2020-07-01 06:33] antfu commented on #94
Thanks. I will have a look.

[2020-07-01 17:11] #94 closed

[2020-07-01 17:27] antfu commented on #94
Should be good now
https://cdn.jsdelivr.net/npm/@vueuse/core@3.0.35/index.d.ts

Thanks for spotting out.

[2020-07-01 18:11] jacobclevenger commented on #94
Awesome, thanks for the quick fix!

[2020-07-23 07:49] lelaarnett opened #100 "New loans"

[2020-07-24 01:41] lelaarnett opened #101 "@shilman"
@shilman

Perfect, your proposal just works fine!
Thank you very much, highly appreciated :)

Lars

_Originally posted by @larsreith in https://github.com/storybookjs/storybook/issues/11580#issuecomment-662910060_

[2020-07-24 01:42] #101 closed

[2020-07-24 05:06] #100 closed

[2020-07-28 03:36] magicstf opened #103 "yarn test 报错"
FAIL  packages/core/useTimeout/index.test.ts
  ● export

    [vue-composition-api] must call Vue.use(plugin) before using any function.

      2 |
      3 | export function useTimeout(interval = 1000, startRightNow = true) {

        |                 ^
      5 |
      6 |   let timer: any = null

 PASS  packages/core/useCounter/index.test.ts
 FAIL  packages/core/useWindowSize/index.test.ts
  ● us

[2020-07-28 03:44] antfu commented on #103
Yeah, it's currently broken since I switch to vue-demi. I didn't get time to have a deep look about it, this article may help I guess: https://dev.to/pikax/how-to-test-your-library-for-vue-2-and-vue-next-42ao

[2020-08-17 11:46] Neophen opened #109 "Including @vueuse causes the vue instance to initialize twice @4.0.0-beta.4"
This took me a while to track down, but after upgrading to `@4.0.0-beta.4` my whole app started throwing a million errors as the main instance got initialised twice.

I used `@4.0.0-beta.2` fine.

Not even sure how to describe this bug.

The library has great potential! Thank you for your work. I only use one function from it so i will be removing it for now.

I wish i could provide a simple bug,

[2020-08-17 12:34] antfu commented on #109
Which one are you using?

[2020-08-18 14:40] Neophen commented on #109
beta.2 was working fine, beta.4 broke it and for some reason i can't get it to work even after downgrading it :(

[2020-08-18 14:47] antfu commented on #109
@Neophen Can you show me the error logs so I can better help with this? and which utilities are you imported from vueuse? Thanks

[2020-08-19 10:45] CharlesOkwuagwu opened #110 "Support ServerSentEvents: useEventSource"
**Suggested Feature**

Support **`ServerSentEvents`** via `useEventSource` the same way we have **`WebSockets`** via `useWebSocket`

here: https://github.com/antfu/vueuse/pull/111

[2020-08-19 10:54] antfu commented on #110
I didn't know this API before, might need to learn a bit about it. It would be great if you can file a PR of it. Thanks :)

[2020-08-19 11:19] CharlesOkwuagwu commented on #110
I'm looking at my current use-cases and trying to see how best to structure **`useSSE`**.

Currently I put all my `SSE` code for a page in one function and call it from `created()` like below boilerplate:

[code]

I don't yet have a suitable API for **`useSSE`** yet, particularly allowing for any number of callback handlers to be defined, or default to a capturing all data like **`useWebSocket`**

[2020-08-25 06:38] regenrek opened #114 "Adding addons with @vueuse/core dependency"
Hi!

What's actually the recommend way to add composables from @vueuse/core to a @vueuse addon?

If I'm going to add for example an addon `@vueuse/myaddon` and using `useLocalStorage` from `@vueuse/core`
I see two options:

*Option 1 - relative:*
Via '../../composables/useLocalStorage' the `useLocalStorage`. Here the functions gets bundled in `@vueuse/aws` too
which is not necessarily wanted.

*Op

[2020-08-25 06:46] antfu commented on #114
I would suggest going with Option 2 but with `peerDependencies`. For option 1 it will potentially bundle the function twice which affect the load size on userland.

[2020-08-26 06:06] #114 closed

[2020-09-14 09:25] #110 closed

[2020-09-14 19:41] jacobclevenger opened #120 "Proposal for creation of useIntersectionObserver"
Currently `useElementVisibility` seems to make use of listening to the document scroll and tests if the element is visible each time it changes. I think it would also be good to have a composable that makes use of the intersection observer api. I have created a basic implementation myself here https://gist.github.com/jacobclevenger/86653ce2335073833cd13fb2b74b38ae and it works like this

[code]

N

[2020-09-14 19:46] jacobclevenger commented on #120
Nevermind I just saw it was already there. Sorry for the issue.

[2020-09-14 19:46] #120 closed

[2020-09-15 18:14] axe-me opened #121 "i18n warning"
got the warning when using the i18n package.
[code]

the project freshly created with vue-cli with typescript and vue3 option.

[2020-09-16 07:19] magicstf opened #122 "useStorage"
let rawValue = storage.getItem(key)
      if (rawValue === undefined && defaultValue) {
        rawValue = Serializers[type].write(defaultValue)
        storage.setItem(key, rawValue)
      } else {
        data.value = Serializers[type].read(rawValue, defaultValue)
      }

localStorage.setItem方法必须穿俩个参数，不会出现有key，值是undefined的情况吧？这个判断的意义是？

[2020-09-16 07:27] antfu commented on #122
Sorry, I don't get your point. Which line do you mean?

[2020-09-16 07:29] antfu commented on #121
Thanks for catching this up. I am discussing with the author of vue-i18n to find a proper solution for this package. Will keep this tread up to date.

[2020-09-16 17:22] antfu commented on #121
`@vueuse/i18n` was provided as a workaround before `vue-i18n` settling down the composable APIs. It's misaligned with `vue-i18n@9` and it's better not to use it. I will mark the package deprecated soon.

If you need the composable style of `vue-i18n`:

- Vue 3: use [`vue-i18n@next`](https://github.com/intlify/vue-i18n-next) directly
- Vue 2: use [`vue-i18n-composable`](https://github.com/intlify/v

[2020-09-16 17:22] #121 closed

[2020-09-20 11:38] loilo opened #128 "Async Computed Values"
I've been wanting something like [`vue-async-computed`](https://github.com/foxbenjaminfox/vue-async-computed) for Vue's composition API, but couldn't find anything so I created it myself. I made a gist with an explainer and an initial implementation [here](https://gist.github.com/loilo/fbe3124108a46ff50ab1b867bb5b4bf9).

Because of its generic nature and broad use cases, the `useAsyncComputed` fun

[2020-09-20 13:11] antfu commented on #128
I want it several times too! It's looks promising and let's have it!

Some thoughts,
- for the naming, I think `asyncComputed` is simpler & neater.
- for the returning value, I am thinking if we could get rid of the tuple, I would like it to be more like `computed` (sometimes ppl don't care if it's evaluating)

How about:

[code]

[2020-09-20 14:36] loilo commented on #128
I agree on the naming thing, I just decided on `use*` to stick with the rules. 😁

However, I disagree on the usage of `reactive`, for various reasons:

- It wouldn't actually bring it close enough to `computed`. While access in code would be equivalent in code usage (`computedThing.value` vs `asyncComputedThing.value`), it would differ in template usage (`computedThing` vs `asyncComputedThing.valu

[2020-09-20 16:09] antfu commented on #128
Actually, you can pretend any object to be a ref like

[code]

This is also [how `toRef` implemented](https://github.com/vuejs/vue-next/blob/d4bf9bcbb430fa0168ca48039579d59e6789c6f5/packages/reactivity/src/ref.ts#L153-L174).

So basically, `asyncComputed` will return a Ref but with an additional property `evaluating`. Just like the computed ref actually has an additional property `effect` if you d

[2020-09-20 16:17] loilo commented on #128
This is fascinating.

Still one complaint though: `evaluating` now is no longer reactive. We could of course return the ref itself instead of its value (so it could be accessed as `state.evaluating.value`), but this modification of the ref type seems to be a little off the beaten track for Vue stuff.
Is there any known prior art using this technique? (The question is probably moot, given the relat

[2020-09-20 16:31] antfu commented on #128
Not I believe it is. You can have a try.

AFAIK, no. I know some of my friends are using them in their private apps. And I am experimenting with a lot of things in [@vue-reactivity](https://github.com/vue-reactivity) (private too). I always want to use them in VueUse in order to get some clean interface but I haven't got time to do so. Let's be the first one!

I will be your eyes XD

[2020-09-20 16:41] loilo commented on #128
Sorry, I have not been clear enough with what I meant.

Of course, the `state.evaluating` getter would always return the correct value. But it would not be reactive in Vue's eyes (i.e. you could not use it in a template and could not watch it).

This would be fixable though by implementing it like this:

[code]

So we'd not return the current value for `state.evaluating`, but the ref itself, so it

[2020-09-20 16:41] antfu commented on #128
One drawback though, is that you can't direct access `evaluating` in the template then. Might be better to pass it as a ref (or `evaluating` & `evaluatingRef` as the same time, not sure)

[2020-09-20 16:42] loilo commented on #128
See comment above. 😁

[2020-09-20 16:48] antfu commented on #128
### `evaluating` as Getter

[code]

### `evaluating` as Ref

[code]

### As an object of refs

[code]

Or

[code]

### As an array of refs

[code]

----

Yeah, I agree that the hack is not ideal to be used in templates. Maybe it's head back to the traditional implementation.

[2020-09-20 16:52] loilo commented on #128
Any concrete objections against the `onStartStop` approach [from above](https://github.com/antfu/vueuse/issues/128#issuecomment-695794434)?

[2020-09-20 17:05] antfu commented on #128
I don't think we actually need `onStartStop` as I can just put it at the end of my async function. About the `onCancel` part, I don't think we should provide a function call here. Instead, an object called cancelToken might be better:

something like:

[code]

[2020-09-20 17:13] antfu commented on #128
Inspiration from https://vscode.readthedocs.io/en/stable/extensions/patterns-and-principles/#cancellation-tokens

[2020-09-20 17:37] loilo commented on #128
Sorry, I don't get it. Could you elaborate on that? *What* could you put at the end of your async function?

I don't really care about the implementation details. (My inspiration for `onCancel` came from the Composition API's very own [`watchEffect`](https://v3.vuejs.org/guide/reactivity-computed-watchers.html#side-effect-invalidation).)
Regarding the cancel token: How would you implement a notifi

[2020-09-21 22:07] antfu commented on #128
Let's keep the `evaluating` state inside the function, using events and let users doing that might be too much.

I see. I agree it's better to stay with the Vue style. How about just keep it named as `onInvalidate`?

---

Sorry for being a bit nitpicking, this is a good direction and I'd say let's go for it. Thanks a lot 👍

[2020-09-22 07:25] loilo commented on #128
No worries, that's great. Let's be nitpicky now — we probably won't be able to change the design later. 🙂

Sorry, still don't get it — where would you like to keep it?

I deviated from the original name on purpose because the behavior is slightly different: `watchEffect` has no mechanisms to detect whether previous callbacks finished their work, therefore `onInvalidate` is *always* called when the

[2020-09-22 15:08] Demivan opened #130 "Issue with createGlobalState"
`createGlobalState` stops tracking changes after component that first used global state is disposed.

Tried it with `vue@3` and can reproduce it there too, so it is not  `@vue/composition-api` issue.

Added pull request with reproduction tests: #129

[2020-09-22 15:19] antfu commented on #130
This is a limitation of current Vue's API design: https://github.com/vuejs/vue-next/issues/1532

I am already working on an RFC to addressing this: https://github.com/vuejs/rfcs/pull/212

Thanks

[2020-09-22 15:49] Demivan commented on #130
Thanks for info. Will monitor RFC then.
Maybe this caveat should be added to `vueuse` docs for now?

[2020-09-23 09:25] Demivan commented on #130
Inspired by `effectScope` I have fixed #129 by creating new Vue component to hold reactive scope. Seems to work fine with Vue 2 and 3

[2020-09-23 11:46] antfu commented on #130
I think that will do for now, thanks!

[2020-09-23 12:04] antfu commented on #103
Fixed, thanks

[2020-09-23 12:04] #103 closed

[2020-09-23 12:07] antfu commented on #128
I think it's good to keep your original version :p

[code]

I got it, thanks for the detailed explanation. Let's go for it!

[2020-09-23 12:07] antfu commented on #130
Released in 4.0.0-beta.16.

[2020-09-23 12:07] #130 closed

[2020-09-23 12:29] loilo commented on #128
My pleasure. Want me to create a PR?

[2020-09-23 13:19] antfu commented on #128
It will be great if you don't mind. Thanks 😁

[2020-09-23 13:21] loilo commented on #128
I'll give it a try. First contact with Storybook for me, but the other functions should provide enough learning material. 🙂

[2020-09-26 20:52] mdbetancourt opened #132 "i wanna add a @vueuse/rx addon"
Hello i wanna add an addon to vue use to use rxjs like

[code]
[code]

[2020-09-26 23:53] antfu commented on #132
Welcome, please go ahead and draft an PR, let me know if you need any help. Thanks

[2020-10-05 09:13] #128 closed

[2020-10-05 10:14] #132 closed

[2020-10-05 12:17] #122 closed

[2020-10-06 06:49] matias-capeletto opened #137 "RFC: possible useRefHistory API improvements"
Hey @antfu! Thanks for all the work with the lib ❤️

Great to see you added a composable for ref history! We [had to build one](https://github.com/Leniolabs/layoutit-grid/blob/main/src/composables/useRefHistory.js) because the `useUndo` from vue-composable was not flexible enough for our use case. I was planning to submit a proposal for a similar one at one point. The API is not the same though, s

[2020-10-06 07:07] antfu commented on #137
I don't expect to have this detailed feedback in such a short time. Thanks a lot!

1. I would love to not using this and handle the control to users via options, but I am not sure how to make it right. The main reason is that `undo` `redo` would not work properly without `sync`. `resume()` will be called before `watch`. Do you have any solutions for this?

2. Sounds good, let's go for it! I also l

[2020-10-06 09:15] matias-capeletto commented on #137
You are welcome!

1. Do you mean the issue of performing an undo, that triggers another watch of the ref? In our implementation, it is working without the `flush: 'sync'` because there is a guard against adding a history point with the same representation as the last one, in this line: https://github.com/Leniolabs/layoutit-grid/blob/main/src/composables/useRefHistory.js#L40
This works well because

[2020-10-06 10:52] antfu commented on #137
Thanks for the PR. But let me think a bit more about 1 & 3.

[2020-10-06 14:18] antfu commented on #137
For 1., I think it's a good idea to expose `serialize` and `deserialize` as it adds more flexibility to different usages. However, I don't think it's good to store the state in strings. The state history is meaningful to some usages (e.g. just tracking the changes of a number, not only undo and redo but the full history trace). So in the PR, I left the `dump` and `parse` bypass by default, and you

[2020-10-06 14:43] matias-capeletto commented on #137
1. Nice, I agree with you that it is nice to have the real values in the history. I think that even in the case you use JSON.stringify, we could expose the history as parsed objects in next, prev. Maybe there is a way to avoid the parsing until it is requested. Did you see the guard to be able to avoid the use of `flush: 'sync'`?

2. Ya, if you go to https://grid.layoutit.com/, the app support his

[2020-10-07 08:41] antfu commented on #137
1. The guard you used works because they are strings (and you will need to call an extra serialize). I am doubting if it's a good practice. What's a problem of `sync` tho? In the description of your first comment, how about:

[code]

2. Based on your description, can I say `batch === pause`, `commit == resume + push current state`, `cancel == undo, but not populate the next stack`?

[2020-10-07 09:26] matias-capeletto commented on #137
1. I see now that extra serialize call... indeed, that is a deal breaker. I will need to think if there is a way to avoid it. The idea behind avoiding `sync` was to avoid having to use the history in a lot of places in the app.

With the `batch` function, it may not be that intrusive, it could even be a functional wrapper that returns the value of the original function, so you can directly wrap se

[2020-10-07 09:58] antfu commented on #137
2. The behavior you described feels uncertain to me as it heavily relies on the internal state which is not transparent to the user. Calling `batch()` twice does not make sense to me either.

I would like those APIs to be as atomical as possible. I would propose the APIs like:

- `pause` pause the tracking (will be accessible in `history.tracking.value`)
- `resume(commit?: boolean)` resume the tra

[2020-10-07 10:25] matias-capeletto commented on #137
I like it! For a change set across use events, I would use `pause()` when the interaction starts and `resume(true)` when it ends then. I assume that you would also leave async support as something that the user can built with these primitives, and not part of the API.
Thanks again for your work, and thanks a lot for the discussion @antfu 🙌

[2020-10-09 13:52] #137 closed

[2020-10-09 16:54] robozevel opened #142 "'const' enums are not supported"
Hi 👋

I wish to contribute but unable to run `yarn dev` due to a syntax error in [useWebWorkerFn](https://github.com/antfu/vueuse/blob/master/packages/core/useWebWorkerFn/index.ts#L7):

what am I missing? 🤔
Thanks!

Node v12.11.1
Yarn 1.22.10
MacOS 10.15.5

[2020-10-09 17:19] antfu commented on #142
Good catch up! Just looked into it and surprised found out that babel does not support const enum! 😅

Followed this guide and the problem gets fixed. https://github.com/babel/babel/issues/8741#issuecomment-509041135

[2020-10-09 17:19] #142 closed

[2020-10-14 07:04] chnejohnson opened #145 ""useEventSource" cannot actually close the connection"
In my usecase,

[code]
I started the connection on setup and click to close the EventSource, but there is still "pending" on devtool even if the status turn into CLOSED.

![Screenshot from 2020-10-14 14-44-31](https://user-images.githubusercontent.com/31992185/95953386-51e14600-0e2c-11eb-89b0-64fe76da771c.png)

In my own useEventSource code below, the connection can be closed correctly with status

[2020-10-14 07:14] antfu commented on #145
I am not very familiar with EventSource API. Can you have a look at the discussions in https://github.com/antfu/vueuse/pull/112?

/cc @CharlesOkwuagwu would you mind having a look at this, to see if the behavior is correct and if there is anything we can do to fix it? Thanks!

[2020-10-14 08:31] CharlesOkwuagwu commented on #145
@chnejohnson Hi, see the lines below:

https://github.com/antfu/vueuse/blob/86339852f8caacadec2464415b0b05a83b126c2d/packages/core/useEventSource/index.ts#L33-L35

We could explicitly call close after `line 34`.

In your use case, how do you differentiate from `CLOSE `due to network errors? `EventSource `would emit an error, but would typically try to re-connect on its own.

[2020-10-14 09:01] chnejohnson commented on #145
@CharlesOkwuagwu Hey, thanks for your response.
I think that there is no error emitted.
And I found the problem is that the "es.close" rewrite the close function of native EventSource API.
[https://developer.mozilla.org/en-US/docs/Web/API/EventSource/close](url)

So that when I invoke close function, it just set the status into 'CLOSED' but the http network is still connected and open, and the bac

[2020-10-14 09:42] CharlesOkwuagwu commented on #145
@chnejohnson exactly. So I think we should explicitly close the network. We should call our own `close `method after that `line 34 `as I had pointed out, that would explicitly close the connection.

[2020-10-14 11:16] chnejohnson commented on #145
@CharlesOkwuagwu
I'm not sure whether following code can work. I will test it tomorrow.
I guess it can quickly fix this problem, but maybe it's not a good writing style.

[code]

[2020-10-14 11:23] CharlesOkwuagwu commented on #145
es.close = () => {
   status.value = 'CLOSED';
   close() // this one, not es.close()
 }

[2020-10-14 12:57] chnejohnson commented on #145
@CharlesOkwuagwu
No, all of three solution above would lead to infinite recursion.
And I found just comment out the code. It works!

[code]
Maybe it should need more testing.

[2020-10-14 13:46] antfu commented on #145
Should `es.close` be `es.onclose`?

[2020-10-15 08:03] chnejohnson commented on #145
hey @antfu
I don't think so. In your code, the vscode will popup "Property 'onclose' does not exist on type 'EventSource'. Did you mean 'close'?"
I think we just remove the "es.close" in order to prevent EventSource API function "close" from rewriting it.
So that the "close" function declared outside tryOnMounted, can really do its job, using EventSource.close to disconnect and also setting status

[2020-10-15 09:09] #145 closed

[2020-10-15 21:53] crutch12 opened #148 "feat: add useCookies with reactive methods"
Just like https://github.com/reactivestack/cookies/tree/master/packages/react-cookie but in Vue style

I already wrote a composition-api wrapper for [universal-cookie module](https://github.com/reactivestack/cookies/tree/master/packages/universal-cookie) in my work project and want to add pull request to vueuse with this wrapper

But it would require `universal-cookie ` as peerDependency

@antfu w

[2020-10-16 00:41] antfu commented on #148
While I stil what to keep the main library dependencies free, but I do understand something it's better to introduce some dependencies that can handle the jobs better. So I guess we can have another package, maybe `@vueuse/libs` or `@vueuse/integrations` to put popular packages wrapper that users can opt-in. What do you think? If it's good, I can make the setup so you can better contribute. Thanks

[2020-10-16 07:19] crutch12 commented on #148
@antfu
I think this naming won't be intuitive for other developers, who, for example look for in google: "vue composition-api cookies".
I think it should be separated package like a `@vueuse/cookie` or `@vueuse/universal-cookie`

But I checked `@vueuse/firebase` and `@vueuse/rxjs` and there are no package.json file (where we could add peerDependencies) and it confuses me

[2020-10-16 07:39] crutch12 commented on #148
Is it okay if I will provide PR for `@vueuse/cookie`?

[2020-10-16 07:45] antfu commented on #148
Well, it's probably okay. But my main concern is that cookie is kinda a small utility, making it a separate package meaning we are likely to have a lot of @vueuse/xxx for just simple wrappers. My idea of `@vueuse/integrations` is like a collection of libraries wrappers (with optional deps and tree-shaking) and add some guide to install corresponding libraries (`universal-cookie` in this case) if t

[2020-10-16 07:48] crutch12 commented on #148
Ok, let's try `@vueuse/integrations`, could you setup it?

[2020-10-16 07:52] antfu commented on #148
Sure

[2020-10-16 08:18] antfu commented on #148
Done. And I think I should switch to monorepo instead of this magic things, I will do that later :p

[2020-10-22 18:18] crutch12 commented on #148
solved by https://github.com/antfu/vueuse/pull/150

[2020-10-22 18:18] #148 closed

[2020-10-22 20:38] Jogai opened #154 "Typescript error on ResizeObserver"
[code]

[2020-10-30 04:20] lizy0329 opened #156 "tryOnMounted/tryOnUnmounted. What does it do?"
I don't understand what is `Call tryOnMounted() if it’s inside a component lifecycle, if not, do nothing`

[2020-10-30 04:31] lizy0329 commented on #109
"@vue/composition-api" should put in to `peerDependencies` not `dependencies` in package.json. Otherwise, It will throw an error by initializing twice if your project  in use composition-api. @antfu

[2020-10-30 04:33] antfu commented on #109
Can you try with the latest version? I don't think we have vca in our dependencies.

[2020-10-30 05:29] lizy0329 commented on #109
I can see [Vue.use(VueCompositionAPI)](https://github.com/antfu/vue-demi/blob/master/lib/v2/index.esm.js) in vue-demi. Due to vueuse vca is put in `dependencies `, if `vueuse-vca` version is different form `project-vca` it will download in `node_module/vueuse/node_module/@vue/composition-api`

[2020-10-30 06:31] antfu commented on #109
Neither VueUse nor Vue Demi have `@vue/composition-api` in `dependencies`. And Vue Demi does have a mechanism to prevent duplicated installation.

https://github.com/antfu/vueuse/blob/38e304c48b708c6e4ff2c1ce19de9ec6f4fd5c02/packages/core/package.json#L29
https://github.com/antfu/vue-demi/blob/d43e2e6906677c1629fc2db79ecbd1854931ea9a/package.json#L17

Please be sure to use the latest version of Vu

[2020-10-30 06:32] #109 closed

[2020-10-30 06:35] antfu commented on #156
It should be `Call onMounted() if it’s inside a component lifecycle, if not, do nothing`.

When outside of `setup()`, `onMounted` or `onUnmounted` are not available. This is useful for hooks to be used globally.

[2020-10-30 06:35] #156 closed

[2020-10-30 06:49] lizy0329 commented on #109
OK, Thanks a lot

[2020-11-03 06:27] #154 closed

[2020-11-04 05:31] antfu opened #166 "Roll out from beta"
Since Vue 3 has officially released for a while now. I think it's time for us to roll out from beta aim for a stable release.

Checklist

- [x] Review functions, frozen the APIs (consistency, flexibility, simplicity)
	- It should be our last chance (at this phrase) to introduce breaking changes to the existing functions. Breaking changes should be working on the dev branch.
    - [x] Make global r

[2020-11-04 23:39] neelance opened #172 "TypeScript error with --isolatedModules flag"
The [TypeScript compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html) `--isolatedModules` reports an error:
[code]
It would be nice if vueuse would not prevent the use of this compiler option.

[2020-11-05 03:19] antfu commented on #172
I didn't aware of this flag. What can we do to make this supported?

[2020-11-05 18:32] anteriovieira opened #176 "Add isSupported for useShare function"
@antfu what do you think about adding isSupported to useShare? This will break the current implementation.

[code]
Demo
[code]

[2020-11-05 18:36] antfu commented on #176
Sure! You can make a PR on dev branch which we are aiming to introduce breaking changes altogether.

[2020-11-06 15:07] matias-capeletto opened #181 "API review, useRefHistory flush default"
Hello!
Awesome to see the preparation for the first stable release https://github.com/antfu/vueuse/issues/166 🎉

We have been using useRefHistory for https://github.com/Leniolabs/layoutit-grid using the extended API and it has been working well. The only thing that I am still not sure of is the right API choice to freeze is the default flush:sync. I think we should still try to make it work with t

[2020-11-06 15:21] antfu commented on #181
Sure! Let's see the PR! I would need to do more experiments about it as well :P

In addition, maybe we can have a `manual` option, and users would need to call `commit()` to create history points explicitly.

[2020-11-06 20:25] antfu opened #183 "Review: Add JSDocs to functions"
Add basic JSDocs to each function. The minimal work will be copying the first sentence of docs to it.

## Checklist

This is a checklist of all the functions of VueUse. It's is useful for review or making changes the go through every function.

### shared (21)
  - [ ] biSyncRef
  - [ ] controlledComputed
  - [ ] debouncedWatch
  - [ ] extendRef
  - [ ] makeDestructurable
  - [ ] pausableWatch
  -

[2020-11-06 20:29] antfu opened #184 "Review: Make global dependencies configurable"
Global dependencies such as `window`, `document`, `navigator` should be configurable. #173

## Checklist

This is a checklist of all the functions of VueUse. It's is useful for review or making changes the go through every function.

### shared (21)
  - [ ] biSyncRef
  - [ ] controlledComputed
  - [ ] debouncedWatch
  - [ ] extendRef
  - [ ] makeDestructurable
  - [ ] pausableWatch
  - [ ] syncRef

[2020-11-06 22:44] scottbedard commented on #166
@antfu If you're willing to introduce a breaking change, I sort of regret including named presets with the [`useTransition`](https://vueuse.js.org/?path=/story/animation--usetransition) function. The ability fo define a cubic bezier curve or a transition function is still very flexible and easy to use IMO. I never find myself reaching for the named transitions. Defining the curve yourself lets it

[2020-11-07 05:52] antfu commented on #166
@scottbedard Sure! But instead of remove all the presets, maybe we could split them into another export. Meaning:

[code]

To

[code]

So it can be better tree shakable and flexible for users to customize. And if they want to change the numbers, they can always use "Go To Definition" to grab them can copy-paste. WDYT? Thanks.

[2020-11-07 05:55] #181 closed

[2020-11-07 11:47] anteriovieira commented on #184
I @antfu I can do this

[2020-11-07 11:58] antfu commented on #184
@anteriovieira that would be great! I think I have done most on dev branch (but kinda randomly), so I made this list. You can help go through the functions and review them a bit. You should have permission to update the list.

Thank you!

[2020-11-07 21:04] scottbedard opened #187 "Clean up useTransition function"
A follow up to the conversation started here https://github.com/antfu/vueuse/issues/166#issuecomment-723396628. Our [`useTransition`](https://vueuse.js.org/?path=/story/animation--usetransition) behavior can use a bit of polishing before the upcoming stable release. I'm using this issue just as a place to keep track of things.

- [x] Extract named presets to a tree shakeable constant
- [x] Improve

[2020-11-08 14:30] matias-capeletto opened #189 "Review of flush defaults"
This is a review of the current usage of flush timing in vueuse. I think I understand better the reason the previous default for `useRefHistory` was `'sync'` now. If we would have called this composable `watchRefHistory`, I think it will be easier to see why I pushed for 'pre'. If the name would be `computedRefHistory`, then `'sync'` would be better. I wonder if using "watch" as prefix instead of

[2020-11-08 17:02] antfu commented on #189
Thanks for the review! All looks reasonable, let's go ahead and do it!

about `useStorage`, I would love to introduce a debouncing option to it, which I can do that later, but free feel to do it if you get interested.

Thanks!

[2020-11-08 18:58] #187 closed

[2020-11-08 21:28] matias-capeletto opened #192 "Extended finite options or composability using filters (was debouncing option for useStorage)"
I was looking into the debouncing option you raised for useStorage and I wanted to first see if the same can be achieved in a more flexible way.

Please take this as a dump of ideas and not a definite API. I thought about this while trying to design the API for other composables, and I want to share it in case it is useful in some way for vueuse.

The problem that I see with adding a denounce opti

[2020-11-08 23:09] tomexx opened #193 "useAxios - async chaining?"
Hi there, is there any way how to utilize more `useAxios` hooks and put them in a chain? How to do that? Thank you!

[2020-11-09 03:43] antfu commented on #193
Can you show me an example? Thanks

[2020-11-09 03:57] antfu commented on #192
I like this idea! It's definitely more flexible and I do feel the same about having debouncing and throttling at the same time. And I like the `pausableFilter` idea!

About the naming, I am not sure about `filter` as they would potentially be confused with array's `filter`, maybe `eventFilter`? WDYT?

About `useRefHistory`, I am not so sure about extracting `pausableFilter` as I think `pause` and

[2020-11-09 06:23] matias-capeletto commented on #192
Great! And I agree with leaving useRefHistory pause/resume as part of the core. We can still include a filter option there though for debouncing.

About the name, `eventFilter` is definitely better. Another option is `triggerFilter`, using the naming from Vue's reactivity
https://v3.vuejs.org/guide/reactivity-computed-watchers.html#watcher-debugging
https://v3.vuejs.org/api/refs-api.html#customref

[2020-11-09 06:47] matias-capeletto commented on #192
Actually, to make this example from my previous comment work we will need that the filter will forward the value to us
[code]
like
[code]
This places more complexity on filter authors but it gives users more flexibility, and I think there may be some cases where it is needed so we do not have to access the watched value by reading other refs. And now that I see it, it is also needed if we want to

[2020-11-09 07:06] antfu commented on #192
I am actually working on the implementation. To me, use the `customRef` and `watch` might be overkill for this feature. My current implementation:

[code]

[2020-11-09 07:11] antfu commented on #192
Made a draft PR: https://github.com/antfu/vueuse/pull/194

[2020-11-09 07:37] antfu commented on #192
I really like this idea!

Now `useDebounceFn` is like:

[code]

We can also make some utilities like `pausableWatch` via `pausableFilter` etc.

Please have a look at my PR and wondering what you think :P

[2020-11-09 08:01] matias-capeletto commented on #192
Awesome! You already did it 😄 🎉

I think this is great, it will add a lot of flexibility to the library! And not vueuse could offer a complete suite of filters at one point.

My only caveat is about how to extend this in the future if we want to support value filters. Even if you do not add that feature now, it may be good to think about it. So:
[code]
Could be extended like:

1. passing the value

[2020-11-09 08:07] antfu commented on #192
I am not sure what you mean for `value`, but I think we can pass the `args[]` as the second argument.

[code]

and `invoke` is essential a shorthand for

[code]

What will be `eventFilterFactory`? If a filter need to accept extra arguments, they can just make a function that creates a filter, just like `debounceFilter` already did.

[2020-11-09 08:31] matias-capeletto commented on #192
With `value`, I mean the value that watch gives us and triggered the event (and we also have `prevValue` there available)
I wanted to see if we could implement filters like this also
[code]
So you can not only discard events because of timing (debounce/throttle) but also that take into account the value from the source, like https://www.learnrxjs.io/learn-rxjs/operators/filtering/filter, https://w

[2020-11-09 08:46] antfu commented on #192
I see. I thought is that the filter is not necessarily called by an watch or reactivity data. They could act as normal functions. Values could be accessed in `args[]`. For example:

[code]

Pausable filter could be

[code]

[code]

Did you miss anything?

[2020-11-09 09:16] matias-capeletto commented on #192
Nice! 🙌

I like a lot what you did with the `invoke` wrapper, so filter authors do not need to do that.

Interesting also that you also included the `thisArg` parameter, like in Array.map. Do you have a use case in mind for it? Maybe the users can just use bind in that case so you do not need it in the API?

Or I wonder if the order should be the other way around,
[code]
with the (args, thisArg, f

[2020-11-09 09:30] antfu commented on #192
This could be a common practice to make function wrappers. Passing `this` will make the wrapper more equal to the original function. You have no idea of how users use your wrapper. For example

[code]

Yeah I agree with you. But I am kinda in a dilemma. Having `(args, thisArg, fn)` just looks not natural. I was also thinking to make it an object and let users destructure it.

[code]

WDYT?

[2020-11-09 10:18] matias-capeletto commented on #192
Yeah, I understand that may be use cases when working with classes for example, but at least from what I see lately utility libraries like lodash are choosing to avoid dealing with this at the library level and leave the user use js features like bind or arrow functions. https://lodash.com/docs/4.17.15#debounce, https://lodash.com/docs/4.17.15#dropWhile, etc.
I think you forgot to pass `this` in y

[2020-11-09 10:55] antfu commented on #192
I don't know, yet. `invoke` is something that "leave as it is" and I believe in most of the cases, users would only need `invoke` to make their filters. But think about more advanced usages, you may also want to alter the args passed to `fn`. I can't think about the usage yet, but I would prefer not to limit the possibility of doing things.

[code]

Yeah, I do like it, this does make the code clea

[2020-11-09 11:10] matias-capeletto commented on #192
Ya, totally, I also thought about that but the clean version was too tempting 😄

Also, users can also have an utility if they would want the other interface for their filters too
[code]
like
[code]
So not a big deal 👍

Really cool to see the filters feature in the lib 🙌
That was a lot faster than I expected 🎉

[2020-11-09 11:11] #192 closed

[2020-11-09 12:36] tomexx commented on #193
Well I'd like to `await` the response from one `useAxios` hook and use the response as a an argument for the other

[2020-11-09 14:08] antfu commented on #193
Maybe you can consider using [https://vueuse.js.org/?path=/story/utilities--useasyncstate](https://vueuse.js.org/?path=/story/utilities--useasyncstate) which will give you more controls to async behaviors.

[2020-11-10 10:02] neelance opened #197 "useLocalStorage and useSessionStorage have bad TS signatures"
The functions useLocalStorage and useSessionStorage offer TS signatures that accept a third argument `storage`. However, it looks to me as if this third argument is never used.

[2020-11-10 10:08] neelance opened #198 "useStorage: less strict "storage" parameter"
It would be nice if the type of the `storage` parameter of `useStorage` would be `Pick<Storage, 'getItem' | 'setItem' | 'removeItem'>` instead of the full `Storage` interface. This way it would be compatible with https://github.com/ripeworks/local-storage-fallback/blob/master/index.d.ts#L1.

[2020-11-11 01:00] antfu commented on #197
That's a good point, it seems there is no way in TypeScript to "transform" the function signatures with overrides. I was too lazy to clone the overloads from "useStorage" and make it better, so I just reassigned the types.

This might be a good change for us to improve it, along with #198, would you mind to open a PR? Thanks!

[2020-11-11 05:17] #172 closed

[2020-11-11 05:33] #197 closed

[2020-11-11 05:33] #198 closed

[2020-11-11 05:35] antfu commented on #189
Working on it

[2020-11-11 05:46] antfu commented on #189
`when` updated. Other than `useStorage` should be resolved. We will need to refactor a bit about `useStorage` and I will leave that to another issue. Closing now, thanks a lot for the review.

[2020-11-11 05:46] #189 closed

[2020-11-11 12:40] neelance opened #202 "bundle not ES5 compatible, breaking IE11"
Yes, we still do support IE11. We hope to be able to drop it soon, but today we still do. We have quite some dependencies and all of them seem to ship ES5 compatible bundles except vueuse. Is this intentional?

[2020-11-11 12:47] antfu commented on #202
Do you use CDN? Or which bundler are you using?

Polyfills and syntax transforms should be done by the userland bundlers (so as tree-shaking). VueUse is trying to include minimal polyfills possible. But if you are asking for CDN usages, we do need to handle this better.

[2020-11-11 12:52] neelance commented on #202
We are using Parcel. We provide polyfills, sure, but with regards to syntax transforms vueuse really seems to be the exception. All other dependencies work fine (Vue, Vuetify, Firebase, and a lot of others).

On https://github.com/parcel-bundler/parcel/issues/1655 someone says:

[2020-11-11 13:25] matias-capeletto commented on #189
Pushed the section to the doc @antfu https://github.com/antfu/vueuse/commit/dfc72eca3b2b58607fcef58bf48fc702fa5c1958
But looks like I pushed a merge commit, I do not know if I can rebase it, truly sorry about it :(
I'll do a PR even for adding docs from now on.

[2020-11-11 14:04] neelance commented on #202
I've now added the workaround mentioned on parcel-bundler/parcel#1655: I've added `.browserslistrc` files with the content `node 10.11` to `@vueuse/core` and `@vueuse/shared`. This seems to force Parcel to syntax transform the modules' files.

[2020-11-11 15:11] antfu commented on #202
Can't actually help without repro and the error of which line of the code.

[2020-11-11 15:12] antfu commented on #189
No problem. I don't care about merge or rebase as long as the final generated changelogs are meaningful. And yeah PR will better which helps me remember to review.

[2020-11-11 15:23] neelance commented on #202
It's all the arrow functions.

[2020-11-11 15:29] antfu commented on #202
I don't see it convincing for libs not to use arrow functions in order to support bundling by Parcel. Probably you are missing some configures. Close this for now. If you find any glitch that prevents it from bundling, maybe try to open a PR instead. Many thanks.

[2020-11-11 15:29] #202 closed

[2020-11-11 16:35] neelance commented on #202
Like I said, I added the configuration by adding the `.browserslistrc` files to tell Parcel that the bundle uses a newer JS standard.

I also pointed out that all other packages are working just fine without any manual configuration, so your response basically amounts to "I don't care what the current best practice is and you need to special case my module".

Sure, I agree that it is bad that all

[2020-11-11 17:17] antfu commented on #202
I do appreciate your contributions (and the community does) and this is all about the issue and nothing personal. BTW, congrats that you find out the soliton for this problem.

I have asked for a reproduction and detailed information, and the response "It's all the arrow functions." is also rude to me and helped nothing. Other libs use them in their dist too, there is no reason that this particula

[2020-11-11 17:30] neelance commented on #202
That's exactly the information I have. It is not a specific line, but quite a number of arrow functions that have not been translated to ES5 equivalents. I do not see that it would be helpful to simply list all occurrences of arrow functions. You can easily find them. Reproduction should have also been clear: Try to load the bundle with IE11. I don't know what other information I could give to you

[2020-11-11 18:55] antfu commented on #202
YES. I think I have stated my option in my very first comment, **Polyfills and syntax transforms should be done by bundlers**, not libs. It's always better to transpile down then up. And I think we already meet the agreement.

No, it's not. Screenshots, repo with your parcel configs setup, error logs, anything. And I have nothing but your words. I don't have IE11 and I am not gonna waste hours to

[2020-11-12 01:09] neelance commented on #202
All right, I will not bother you any more.

[2020-11-12 02:03] neelance commented on #202
Actually I have to bother you once more, sorry about that. I just want to point out that the vue/composition-api project that you seem to maintain is using `"target": "es5"` in its tsconfig.json, while vueuse is using `"target": "es2017"` in its tsconfig.json. This seems to be the reason why we didn't see any issues when adding vue/composition-api. I don't want to say that you should change it and

[2020-11-12 17:42] matias-capeletto opened #203 "Usign useRefHistory and useStorage together"
If I want to add support to save to local storage the app state, so the state will be preserved next time the app is reloaded
[code]
Right now I need to do something like this:
[code]
I want to watch the history instead of the current state ref because I am using pause and resume while the user is dragging stuff around (and I only want to generate one history point for the whole interaction).

I t

[2020-11-12 19:42] antfu commented on #203
That's a good idea!

I like this idea, but I am a bit worried about making `useStorage` too complicated. We would need to document and explain what is going on when using `track` and adding logic to handle it. I feel the `syncRef` usage is more explicit and clear for reading the code.

Similar to my previous point, I am thinking this could be easily done on the userland. I think this is what "Comp

[2020-11-12 20:00] matias-capeletto commented on #203
Great, I think 'last' will be a good addition, with that the above patterns are already manageable. I'll check if I can draft PR for this soon.

I agree with what you said about the other two options. A "Best Practices" section would be interesting, but I see that as a more general section in the spirit of the "Guide"
But I understand what you mean, maybe two new sections could be added: "Tutorial

[2020-11-13 03:00] antfu commented on #203
While "Guide" is aimed to be general docs for the overall libs. "Best Practices" can be a community based "the place to share" and they can be blog posts or some other forms. "Examples" can be good but I guess I don't have much time on this, maybe it can be another community-based thing.

Thank you and glad you like it! The code is not ready to be open-source yet (but will be!). And I would like t

[2020-11-13 12:35] anteriovieira commented on #184
@antfu , I must send it to dev, right? Considering that we may have changes in the signature of the functions.

[2020-11-13 12:37] antfu commented on #184
Yes, let's do that on dev

[2020-11-13 15:19] sibbng opened #207 "usePageLeave: if entered element is same as leaved element still returns true"

[2020-11-14 03:35] #207 closed

[2020-11-14 07:50] #203 closed

[2020-11-16 05:16] #176 closed

[2020-11-16 06:46] #184 closed

[2020-11-16 06:46] #183 closed

[2020-11-16 17:58] sibbng opened #217 "List of issues with current documentation"
While this repo is currenly under heavy development, I though creating an Issue would be better than a PR.

[useIntersectionObserver](https://vueuse.js.org/?path=/story/sensors--useintersectionobserver)
- API has changed but usage example on docs not updated yet.

[useParallax](https://vueuse.js.org/?path=/story/sensors--useparallax)
- Remote source have SSL issues. Chrome forces to load images on

[2020-11-16 18:04] sibbng commented on #217
[useAsyncState](https://vueuse.js.org/?path=/story/utilities--useasyncstate)
- Demo not working.

[useGeolocation](https://vueuse.js.org/?path=/story/sensors--usegeolocation)
- Documentation broken.

[2020-11-17 03:35] antfu commented on #217
Thanks a lot! Should be fixed.

[2020-11-17 03:35] #217 closed

[2020-11-17 06:59] #166 closed

[2020-11-19 07:04] Alfxjx opened #224 "Run npm run dev, but failed for lack dependencies."
after install the dependcies, I run `npm run dev ` to start the storybook but failed.
from the error stack I noticed that three dependcies cannot be found:
- universal-cookie (in useCookie)
- qrcode  (in useQRCode)
- @vueuse/shared (in some other dirs)

Should these three packages be added in the `package.json` ?

[2020-11-19 07:08] antfu commented on #224
Did you use `yarn` to install the dependencies?

[2020-11-19 07:28] Alfxjx commented on #224
I use `npm i` before and it works without any problems when I use `yarn`, Thank you
So is it no need to add such dependencies into the `package.json` ?

[2020-11-19 08:24] antfu commented on #224
No. I think the presence of `yarn.lock` is enough to tell this is a yarn project. Also mentioned in the contributing guide docs.

Meanwhile, doing a self recommendation here :P  - [ni](https://github.com/antfu/ni) can detect the projects' preferred node package manager automatically without you worrying about it.

Closing now.

[2020-11-19 08:24] #224 closed

[2020-11-21 05:17] Fanna1119 opened #230 "useIndexedDb / useIDB"
Any plans for adding a IndexedDb utility ?

[2020-11-21 08:53] antfu commented on #230
This is definitely good to have. However, I am not that familiar with IndexedDB, PR welcome. Another option is that we could have a wrapper for https://dexie.org/

[2020-11-21 09:27] Jogai opened #231 "Type check oddity"
Its not high priority, and possibly not even an issue of your code, but I installed rc-3 and get an eslint error:

[code]

[2020-11-23 22:01] Dav3rs opened #232 "Import error using with reactivue."
I'm trying to use vueuse with reactivue and I'm getting this error:

![imagen](https://user-images.githubusercontent.com/50024128/100020137-51ce5180-2dad-11eb-9a7e-a430ff13ae37.png)

[2020-11-24 00:31] antfu commented on #232
`vue-demi` default to use Vue 2 if no Vue is presented. Can you try to install `vue@3` in your dev dependencies to see if it resolves your problem. Maybe it's better to let it default to Vue 3.

[2020-11-24 08:56] antfu commented on #231
Do you have `"lib": ["DOM"],` in your `tsconfig.json`? Can you share a minimal reproduction? Thanks

[2020-11-27 02:18] shinnosuke-ooyama commented on #231
I had the same problem. Since TypeScript 4.1.2, Coordinates has been removed and replaced with [GeolocationCoordinates](https://github.com/microsoft/TypeScript/blob/f1e53da978f728262c5c3e37ffee7890022e7cc2/lib/lib.dom.d.ts#L5668).

[2020-11-27 02:37] #231 closed

[2020-11-27 02:38] antfu commented on #231
@shinnosuke-ooyama That was useful, thanks! Just updated the deps and types, it should work on rc.4. (and hope we don't break TS<4.1?)

[2020-11-27 12:20] DarkXanteR commented on #231
For TS <4.1:  Cannot find name 'GeolocationCoordinates'.

[2020-11-28 08:30] Jogai commented on #231
Tried to make a minimal repro, but it took too long. You fixed it already, thanks!

[2020-11-28 09:38] antfu commented on #231
@DarkXanteR If you don't want to bump your TS version, maybe you can set this in tsconfig.json

[code]

[2020-12-04 05:31] sxzz opened #237 "Use Prettier"
是否可以使用 `prettier` 来统一代码风格，现在提 PR 不太方便 😓

Is it possible to use `prettier` to unify the code style, it is not convenient to send PR now 😓

[2020-12-04 06:41] antfu commented on #237
Sorry but NO. I already have ESLint setup for styling. I am personally not a fan of mixing ESLint and Prettier together (using them individually is OK). Thanks for bringing this up.

[2020-12-04 06:41] #237 closed

[2020-12-04 10:52] sxzz commented on #237
So how do you format the code. Using the formatting tool of vscode?

[2020-12-04 11:17] antfu commented on #237
`eslint --fix`. If you have ESLint plugin installed on VSCode, you can let it automatically fix them for you.

[2020-12-04 11:20] sxzz commented on #237
But...When I writing code, it always marks red. It looks very uncomfortable.

[2020-12-04 11:21] sxzz commented on #237
So I still tend to use a unified code formatting tool.

[2020-12-04 11:26] sxzz commented on #237
Oh thx. It should be good.

[2020-12-04 11:27] matias-capeletto commented on #237
@sxzz just in case, `prettier.requireConfig` is false by default. Set it to true to avoid firing prettier for this project.
![image](https://user-images.githubusercontent.com/583075/101158325-d6ca2e00-362b-11eb-9adb-b564eba074cd.png)

[2020-12-04 11:28] antfu commented on #237
To me, prettier is an opinionated formatter that does not offer much customization for you and does not respect your existing formats. It's good to be used out of the box. On the other hand, ESLint gives you much more fine-grained control over your styling. They kinda overlapping their features and when ESLint has a well-configured setup, I don't see much value to have them together and do the for

[2020-12-04 11:32] sxzz commented on #237
Thank you very much. I learned a lot. 👍👍

[2020-12-04 11:45] sxzz commented on #237
@antfu And we should ignore the `.vscode/settings.json`, then I can disable `prettier`.

[2020-12-04 17:47] antfu commented on #237
How would that affect it tho?

[2020-12-07 01:22] d4g0 opened #242 "Documentation site refactoring"
I find vueuse super helpful, it will be nice to have the docs page alive for those offline moments when we need a reference.

[2020-12-07 06:38] antfu commented on #242
Thanks for bringing this up. As I would love to have PWA support for VueUse since a long time ago, however, I am not sure if Storybook support PWA at all. I am planning to refactor the documentation site into vite or vitepress. It requires quite some non-trivial refactoring but I don't have much bandwidth on this at this moment. If somebody gets interested in this, feel free to make a draft PR and

[2020-12-12 18:43] d-corler opened #245 "[rxjs] Add watcher options as argument of "from" method"
We don't have the ability to configure the watcher inside the "from" method.

I suggest to add an optional argument :

[code]
However, I fear that this may mislead people into believing that options are also available for standard observables (fromRxjs). Does someone have a suggestion 🤔 ?

[2020-12-13 11:21] Demivan opened #248 "asyncComputed is not lazy like computed"
Not sure if this should be a default but, I think, there should be option to make `asyncComputed` lazy like vue `computed`. Right now even if you use `v-if` to not render computed data it is still being retrieved.

#247 - Example of  failing test

[2020-12-13 23:05] matias-capeletto commented on #248
I do not know if this can be fixed if the current API is maintained. I managed to get an `asyncComputed` version that is lazy like `computed` but it doesn't provide the `onCancel` callback:
[code]

[2020-12-13 23:20] matias-capeletto commented on #248
I do not know if this can be fixed if the current API is maintained. I managed to get an asyncComputed version that is lazy like computed but it doesn't provide the onCancel callback:
[code]
There was an issue about this in https://github.com/vuejs/rfcs/issues/163. If we would have a `invalidableComputed` helper that provides onInvalidate the above implementation could be extended to support the c

[2020-12-14 04:05] antfu commented on #248
The behaviour has already described as a caveat in the doc. I am not sure if it makes sense to have `asyncComputed` lazy as in that way you will always get the null on the first access (and need to wait for the promise get resolved from that time).

With https://github.com/vuejs/rfcs/pull/212 (likely in Vue 3.1), it will expose `effect` to `vue` and we can make `invalidableComputed` easily with it

[2020-12-14 06:59] matias-capeletto commented on #248
Nice! I didn't know that effect was going to be exposed 🙌🏼
Maybe at one point, there could be a `lazy` option. I agree that with asyncComputed the current behavior should be the default.

[2020-12-14 08:13] Demivan commented on #248
Sorry, somehow missed caveat section in the docs.
I fixed my use case by extracting part of template that was hidden using v-if to separate component and moving `asyncComputed` there.
Should I close this issue or `lazy` option is being considered? It would be useful in some cases.

[2020-12-14 08:20] antfu commented on #248
@Demivan Sure, let's have the `lazy` option. Do you mind to create a PR?

[2020-12-14 08:26] Demivan commented on #248
Sure, I'll work on it.

[2020-12-14 08:30] antfu commented on #245
Wondering the reason to have the options, to configure `flush`? I think it's ok to have the options as long as we add proper jsdoc to describe that is the Vue watch options. Or on the other hand, we can have a more explicit API like `fromRef`.

[2020-12-14 10:02] mmommo opened #250 "useFirestore - Feature Request - is there a way to check loaded & isEmpty?"
Hi there,
Please see below code.

I've got a useUser wrapper function as below

[code]
Below is a piece of working code
[code]
But what if the user doesn't exist?

[code]

Many Thanks!

[2020-12-14 17:14] amrbashir opened #251 "feat: useElementVisibility with custom scroll target ."
I happened to have a use case when the scrolling in my page wasn't on the document object and thus `useElementVisibilty` never changes since underneath it uses `useWindowScroll`, I could submit a PR if that's acceptable.

for now I am using a custom version of `useElementVisibilty` that uses `useEventListener` to attach a scroll event on my scrolling element.

[2020-12-14 19:14] #248 closed

[2020-12-14 19:16] antfu commented on #251
Sure, let's see the PR!

[2020-12-14 19:42] antfu commented on #250
Fixed in  362f9a1, from that, you are able to specify the initial value and they will default to `undefined`

[2020-12-14 19:42] #250 closed

[2020-12-15 05:35] #251 closed

[2020-12-15 10:00] yuxino opened #253 "useVModel not working on vue2.x version"
## Steps to reproduce

see the console, show exception, because in setup method not `this`, but [$emit](https://github.com/antfu/vueuse/blob/master/packages/core/useVModel/index.ts#L13) method need `this` to invoke.

so we need to bind currentInstance to before invoke `$emit` in vue2.x

![image](https://user-images.githubusercontent.com/12481935/102199987-416a4c00-3eff-11eb-9a3f-9fd2d2e2041b.png)

[2020-12-16 08:35] #253 closed

[2020-12-16 10:13] lizy0329 opened #255 "[npm update error]Unsupported platform for fsevents@2.1.3 in wsl2"
When i try to run `npm update` in wsl2, I get a error: `npm ERR! notsup Unsupported platform for fsevents@2.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})`

In my case, the solution is setting optionalDependencies - fsevents in package.json

[code]

Should we need to update the package.json for this error?

System Version:
wsl2: Ubuntu 20.04
node: 12.18.2
npm: 6.14

[2020-12-16 10:26] antfu commented on #255
We don't directly depend on it, you might need to check the other dependencies from your project.

[2020-12-16 10:45] #255 closed

[2020-12-17 11:43] yooneskh opened #256 "Integrate vue-use-sound"
Is it possible to integrate [vue-use-sound](https://vuejsexamples.com/a-vue-hook-for-playing-sound-effects/amp/) into vue-use? Or implement something similar? It will become really handy.

[2020-12-17 13:24] antfu commented on #256
Looks cool, wanna create an PR for it?

[2020-12-17 20:44] yooneskh commented on #256
I would love to, but it is my first time doing it. Do you happen to have a contribution guide?

[2020-12-17 21:06] matias-capeletto commented on #256
@yooneskh the contributing guide is here https://github.com/antfu/vueuse/blob/master/CONTRIBUTING.md 👍🏼

[2020-12-18 05:27] mdbetancourt commented on #245
to achieve the effect of
{
    flush: 'post'
}
you can do it at the rxjs way with

[code]

[2020-12-18 18:17] chetzof opened #259 "The library does not work properly in a monorepo configuration"
When using it in yarn workspaces / lerna environment, the library throws an error with the following structure
- testproject
- - node_modules
- - - @vueuse
- - - vue-demi
- - packages
- - - my-module
- - -  - node_modules
- - - - index.ts with import vueuse from '@vueuse/core'

[code]

after i copy `testproject/node_modules/@vueuse` to `testproject/packages/my-module/node_modules` the error goes a

[2020-12-18 18:24] antfu commented on #259
Can you share a minimal repro? Thanks.

[2020-12-20 13:24] yooneskh commented on #256
@matias-capeletto thank you. i will look into it and report the progress here.

[2020-12-21 02:40] antfu commented on #256
Hi @Tahul, want to ask your opinion about this first. Thanks!

[2020-12-21 08:07] xxholly32 opened #261 "add useGlobalConfig suggestion"
get vue [Global config](https://v3.vuejs.org/api/application-config.html#globalproperties)

simple code demo:

[code]

[2020-12-21 12:17] sibbng opened #262 "useCssVar demo doesn't work as expected"
Applies css variable to `documentElement`.

https://vueuse.js.org/?path=/story/browser--usecssvar

[2020-12-21 18:16] #262 closed

[2020-12-21 20:52] Koc opened #263 "Add sync mode for storage"
Hi!

Please add support of watching local storage changes for sync data automatically between tabs.

[2020-12-22 04:52] antfu commented on #261
I am not sure if it's clear what it's for. Also mentions that global config is the Vue 3 only thing. Exposing keys on `proxy` are not necessary from the global config. I would suggest using it in the userland composable utilities instead of included in VueUse.

[2020-12-22 04:55] antfu commented on #193
Closing for stale.

[2020-12-22 04:55] #193 closed

[2020-12-22 04:58] antfu commented on #263
We have provided an option `listenToStorageChanges` for that which is default to true. Should be able to cover what you asking for.

[2020-12-22 04:58] #263 closed

[2020-12-22 06:48] #261 closed

[2020-12-22 14:40] seifsay3d commented on #242
Hello @antfu, I'm interested in picking this up. Is something like https://pikax.me/vue-composable/#introduction what you are looking for but with vitepress instead of vuepress?

[2020-12-22 14:54] antfu commented on #242
Yes, the main problem here is that I want to keep the current file structure (code, test, docs within the same folder) while having a bit of customization. I am not sure if Vitepress can have such levels of flexibility. I might end up using Vite with some plugins, probably from [Vitesse](https://github.com/antfu/vitesse) which has MD support and SSG built-in.

It would be great if you are interest

[2020-12-22 16:00] matias-capeletto commented on #242
I was thinking about this issue too, it would be great to move, especially for mobile users. Great that you are interested @seifsay3d!

I think it would be great if we could use Vitepress. The main issue at this point is that it is not mature enough, so we may bump into issues from time to time. But if we manage to get a setup working, we can avoid updating too often and we should be fine with tha

[2020-12-22 16:20] antfu commented on #242
Thanks for the detailed info @matias-capeletto! I was trying to migrate my site from Gridsome to Vitepress and writing the custom theme a couple of days ago. I end up switching to Vite directly cause I have found out that Vitepress does not allow for customizing `vite.config.ts`.

But as VueUse's docs do not need that many customizations as my site and after your explanations, I think it's better

[2020-12-22 16:38] matias-capeletto commented on #242
I also thought about this 😄
Because I wanted to also avoid having to add the frontmatter or Showcase snippet by hand to each md. That pieces can be assembled in `docs/core/`, `docs/shared`, etc. And then run vitepress.
But I discarded the idea because I do not know how we will get the benefits of vite DX while authoring with this setup. Maybe there will be a watch process so when you save it updat

[2020-12-22 20:56] antfu commented on #242
OK, I made a quick setup on https://github.com/antfu/vueuse/tree/vitepress branch and it looks pretty promising! 🎉

Preview: https://vitepress--vueuse.netlify.app/

<sub>(a little hydration mismatching for the front page for some reasons, but not a big problem)</sub>

A quick TODO list here, feel free to take any of them and make PRs against the `vitepress` branch

- [ ] Rewrite `index.stories.tsx

[2020-12-22 21:22] matias-capeletto commented on #242
Wow, that was fast. And it looks really good already 🎉

There is an issue discussing why the frontpage is being duplicated everywhere in Vitepress: https://github.com/vuejs/vitepress/issues/177

Looks like there are two options, in that thread they said the issue is gone if you use Vue 3.0.3 (instead of Vue 3.0.4), or do what posva did, that reverted vitepress to 0.8.1 (https://github.com/vuejs/vu

[2020-12-22 22:11] antfu commented on #242
That's a good point, let's use frontmatter!

But the hydration issue I am not in hurry looking for a solution, we are not ready anyway :P Thanks for the tips! (Since I started using Vitepress, I shall be more active make contributions to it 😉)

[2020-12-23 15:32] seifsay3d commented on #242
Wow you are impressively fast, I’ll take a shot at these over the holidays

[2020-12-23 17:12] antfu commented on #242
Update: I wrote a script to generate `demo.vue` from `index.stories.tsx` and committed them to the branch. The generated SFCs are not always perfect, some of them might need to do some manual clean up.
Looking for some help on this, if you have Vetur and ESLint installed on your VSCode, they should show you the errors when you open a damaged Vue SFC. Thanks.

[2020-12-24 04:36] scottbedard opened #266 "Add end hook to useTransition util"
Hi, sorry to keep bugging you about this utility! I'm using it a lot right now. The issue I'm running into is that there isn't a great way to chain transitions together. We can get close with the following techniques, but each has downsides. The first option is to use a `setTimeout` with matching duration.

[code]

This works, but doesn't have a smooth hand-off because of race conditions. The seco

[2020-12-24 05:25] antfu commented on #266
Sounds good and reasonable! I am thinking about the naming tho, do you think it's better to have `onStarted` `onFinished`?

[2020-12-24 16:27] scottbedard commented on #266
@antfu Using `onFinished` works for me! I don't know if we really need a start hook though. Since the user changing the base number is what starts a transition, in a sense they already have that hook.

There is also one other change I might make while I'm in here, and that is doing the same thing I did to `duration` to the `transition` property, and making it a `MaybeRef<EasingFunction | CubicBezi

[2020-12-24 18:26] antfu commented on #266
Since we are having hooks(callbacks), I think it's better to have `onStarted` in pair of `onFinished`. Think you might make a hight order composable that uses this function but you don't have direct access to the base ref (or controlled by another scope), having the `onStarted` hook can help you aware of when it starts.

About the reactive parameters, sure! I'd love to have the parameters reactive

[2020-12-26 10:09] #266 closed

[2020-12-28 16:53] lstoeferle opened #269 "Add useJwt function"
I was thinking about a reactive way of handling a [JWT](https://jwt.io/introduction), since the token often expires/changes after a few minutes. The function should decode the `payload` part of the token and return it as a reactive object, providing the basic claims, which can be extended using generics.

I already implemented some parts of the described functionality in a non reactive way. It wou

[2020-12-29 08:14] antfu commented on #269
Sounds good! If you would need to wrap with some third party library, I'd recommend to put in `@vueuse/integrations`

[2020-12-29 14:17] lstoeferle commented on #269
Alright, I will open a PR as soon as I'm finished with this.

[2020-12-29 15:08] praburangki opened #270 "Typings for useVModel"
Let's say I have a prop that has a `string` type and here's an example of the code:

[code]

 Now `foo` has an `unknown` type, and I believe it is caused by this part:

[code]

 So is it possible to get the original prop type to pass it to this composition?

[2020-12-29 15:59] praburangki commented on #270
I'm not an expert with Typescript but I hope this helps:

#271

[2020-12-30 10:32] antfu commented on #270
Thanks!

[2020-12-30 10:32] #270 closed

[2021-01-01 20:43] timarito opened #272 "useStorage problem"
Hello! Sorry for my bad english. I've got one problem with `useStorage` function.
If i write following code:
`const user = useStorage('name', 'Bob');`
`console.log(user.value);`
it will be 'Bob' in my console and localStorage will be empty, because `storage.getItem('name')` will return `null`, not `undefined`. And key `name` with value `Bob` will not be setted in my localStorage initially.

![imag

[2021-01-02 08:59] timarito opened #273 "useAxios instances support"
Any plans for adding a useAxios instances support?

[2021-01-04 10:29] antfu commented on #272
Good catch up! Mind open a PR for it? Thanks

[2021-01-04 21:33] antfu commented on #242
https://vitepress--vueuse.netlify.app/

We are pretty close now! There are some bugs that need to be fixed in vitepress. I will get them on track a bit later.

[2021-01-04 21:46] matias-capeletto commented on #242
This is awesome @antfu! It is really smooth on mobile now 🎉

I can send a PR to get better scrollbars in win32 later. There is also a scrollbar that appears when using line highlights that is a bug in the default vitepress theme and I had fixed it in my blog. I will check that too.

[2021-01-05 11:27] #272 closed

[2021-01-05 15:35] Tahul commented on #256
Hey @antfu , I've not seen your messages earlier and I'm really sorry for that.

I'm completely okay with integrating vue-use-sound as an integration for vueuse, as long as I keep the vue-use-sound repository.

Just to mention that it would only be for "comfort" purposes, as vue-use-sound already works completely fine as a standalone Vue 2 or 3 composable.

If @yooneskh could explain why he needs

[2021-01-08 15:06] IlCallo opened #280 "extendRef won't work with Vue2 refs"
Seem like refs created via `@vue/composition-api` [are sealed](https://github.com/vuejs/composition-api/blob/5e5001a2d981605780fa123ae3a5cfe10c275bac/src/reactivity/ref.ts#L91), so `extendRef` will throw as it tries to define a new property on the ref object.

The sealing is on purpose, so I guess it's working (not working, actually) by design and a note should be added to the docs, describing thi

[2021-01-08 17:54] #280 closed

[2021-01-08 17:54] antfu commented on #280
Thanks!

[2021-01-09 04:43] fnick851 opened #281 "A black bar (dark mode) on `onClickOutside` demo page"
https://vitepress--vueuse.netlify.app/core/onClickOutside/

There is a black bar (dark mode) on top of line `return { target }`.

[2021-01-09 05:29] salakhovilia opened #282 "Transition Pipeline"
a cool feature will be the creation of a complex transitions pipeline

[2021-01-09 05:36] salakhovilia opened #283 "Websocket retry connection strategy"
In case of problems with the Internet, a mechanism for reconnecting to the server is required

[2021-01-09 05:46] salakhovilia opened #284 "High-level api for working with websocket similar to working with event emitter"
when working with websocket, he often has to implement the same functionality, for example, when registering the first listener, you need to subscribe to the channel, and when registering the next next listeners, you must use the existing subscription, this is part of the functions that are very often required when working with websocket, I would like to make a pull request if you find this functi

[2021-01-09 16:04] antfu commented on #283
Sounds good, would you like to create a PR for it? Thanks.

[2021-01-09 16:08] antfu commented on #284
That a good idea and I kinda want to have this for a while but don't get a chance to have this demand in real-world applications. PR is definitely welcome, thanks!

[2021-01-09 16:09] antfu commented on #282
Not very understand what you mean, can you share some examples? Thanks.

[2021-01-09 16:11] salakhovilia commented on #283
yes, I will definitely create a pull request, thanks

[2021-01-09 19:35] salakhovilia commented on #282
If we add a trigger mechanism that will start the animation after the end of the previous animation (or any other condition), then it will be possible to build complex scenes with many related animations.

There is something similar in gsap: https://greensock.com/docs/v3/GSAP/Timeline

Thanks!

[2021-01-10 05:03] antfu commented on #282
Sounds cool as long as we don't get that complicated as GSAP (in that case we should just use it directly).

@salakhovilia Do you have an API style in mind? I think we can have a new function from `useTransition` (or maybe build on top of it) so that we can have a basic version and an advanced one for users to choose from.

/cc @scottbedard Wondering what's your idea this? Thanks!

[2021-01-10 06:51] scottbedard commented on #282
I could see this being useful, especially for complex enter / exit animations. We can probably keep things simple with something like this https://codesandbox.io/s/reverent-tree-yf37c?file=/src/App.vue

Not sure what the API for this would look like. This is the first thing that comes to mind 🤷‍♂️

[code]

We'd probably also need ways to define custom transition options for each piece in the pipel

[2021-01-10 07:34] salakhovilia commented on #282
We can do something like a script, for example:
[code]

[2021-01-10 11:01] #242 closed

[2021-01-10 22:20] scottbedard commented on #282
@salakhovilia I'm not sure I follow what all those options are for. Is the goal to have a helper to run sequentially from one transition to another (along a pre-planned path)? Or to have transitions branching onto different paths dynamically as it progresses?

[2021-01-11 08:33] salakhovilia commented on #282
@scottbedard we can make a helper for sequential and parallel execution of animations, so I wrote all these settings

[2021-01-11 15:13] antfu commented on #282
I am thinking about this style:

[code]

WDYT?

[2021-01-12 13:06] phanmn opened #287 "useFullscreen does not work in Safari"
This package https://github.com/sindresorhus/screenfull.js support cross-browser

[2021-01-13 07:35] #287 closed

[2021-01-13 12:43] IlCallo opened #289 "`controlledComputed` edge case when using "reactive"-like objects as values (eg. those returned by `toRefs`)"
Really a niche edge-case, but maybe worth mentioning on the docs that `controlledComputed` is based on `ref`, and as such it cannot be used in scenarios like https://github.com/vuejs/composition-api/issues/629

Don't think it's worth to make it configurable, since it's so simple to just recreate the logic using `shallowRef`

[2021-01-15 03:37] antfu commented on #281
Fixed, thanks!

[2021-01-15 03:49] #281 closed

[2021-01-15 03:50] antfu commented on #259
Close for inactive

[2021-01-15 03:50] #259 closed

[2021-01-15 09:58] RPainter8West opened #291 "Compile error with 4.0.6 Module '"../../../vue/types"' has no exported member 'Ref'"
Error introduced in 4.0.6
Reverting to 4.0.5 is OK

ERROR in ./node_modules/@vueuse/core/dist/index.d.ts(4,10):                                       4:10 Module '"../../../vue/types"' has no exported member 'Ref'. Did you mean to use 'import Ref from "../../../vue/types"' instead?
    2 | export * from '@vueuse/shared';
    3 | import { Ref, Vue, UnwrapRef, ComputedRef, WritableComputedRef } from

[2021-01-15 10:13] RPainter8West commented on #291
I'm using vue 2.6.12

[2021-01-15 10:27] antfu commented on #291
Should be fixed in 4.0.7. Thanks.

[2021-01-15 10:49] RPainter8West commented on #291
Thanks for the quick attention. But I just pulled down 4.0.7 and am getting the same error

[2021-01-15 11:37] #291 closed

[2021-01-15 11:48] RPainter8West commented on #291
Confirmed good now. Thanks.

[2021-01-15 21:32] lstoeferle commented on #269
Thought about using a 3rd party library for it. https://github.com/auth0/jwt-decode seems very promising.

[2021-01-15 22:14] mmommo opened #292 "Can useFirestore have a param like global/keepAlive?"
Instead of using createGlobalState, can we have an additional param to keep the ref alive? As with createGlobalState, we simply loose 'provide'.

If my understanding is correct, please see below.

[code]

Cheers!

[2021-01-15 22:38] scottbedard commented on #282
@antfu I don't care for a `.then(ref, value, options)` API. It's works for sequential transitions, but I'm not sure how you would express parallel transitions. With a callback function, the user is free to change as much state as they want, or stagger secondary transitions using a `setTimeout` call. But thinking about it more, the API I proposed would make defining those easing function / duration

[2021-01-16 09:16] salakhovilia commented on #282
I think that simple sequential transitions are not as important as complex transitions. they give more opportunities to implement ideas

[2021-01-16 11:24] antfu commented on #292
Sounds reasonable, would you like to make a PR for it? I'd like to have the `autoDispose: false` option (default to `true`) which we also can make it available for other functions.

[2021-01-18 17:25] Tahul commented on #256
Hey @antfu, now that you created an org for vueuse, I would be glad to add the repository to it if you are interested in vue-use-sound joining the org!

If you wish for the package to join the org but it needs any modification, please let me know and I'll update it accordingly.

Great news that you created an org for vueuse, I'll be glad to contribute to it for my upcoming packages.

👋

[2021-01-18 17:44] antfu commented on #256
Hi @Tahul, I was just about to ask you if you are interested in joining the org, well done on the project! So yeah, I am happy to have `vue-use-sound` joined if you'd like to!

Just sent you the invitation to the org and please free feel to transfer the repo over :) You will have full access to the repo as you would now. About the package name, you can still use `vue-use-sound` or if you'd like, I

[2021-01-19 09:37] Tahul commented on #256
I would be glad to be part of the npm org too and use @vueuse/sound which feels better to me. 😄

I will be switching the export type too, to stick with your convention.

[2021-01-19 11:24] Tahul commented on #256
Everything seem to be done on my part.

https://github.com/vueuse/sound is the new place to go.

I've added a depreciation warning on vue-use-sound on the NPM side.

Also updated the API and export methods on the recommendations of antfu to stick with the vueuse conventions.

[2021-01-19 11:27] antfu commented on #256
Awesome, thanks!

[2021-01-19 11:27] #256 closed

[2021-01-19 11:33] antfu commented on #256
https://vueuse.js.org/add-ons.html :P

[2021-01-22 03:01] HomyeeKing opened #297 "Give useVModel key a default value"
I've struggled this for a long time since there's a type problem with this

here is what I need, I want to give the key a default value `modelValue`

[code]

but the type issue seems can't be solved
and is it unworthy since it just write less a keyname?

[2021-01-22 03:58] antfu commented on #297
Well, tho I agree this could make life easier, it breaks the Vue 2 compatibility as `modelValue` is a Vue 3 thing. Maybe we could have a runtime check `isVue2` from `vue-demi` to do it. WDYT?

[2021-01-22 04:13] HomyeeKing commented on #297
yeah, we can make it compatible through `vue-demi`, but what's  really annoying me is the type 😅

[2021-01-22 04:46] antfu commented on #297
[code]

[2021-01-22 04:57] HomyeeKing commented on #297
sorry, my mind still stay at vue3 and default value in function params  , when set default value in params ,  the type is  hard for me

[2021-01-22 05:51] antfu commented on #297
Would you like a make a PR for it? or I can do that as well.

[2021-01-22 06:10] HomyeeKing commented on #297
sure, let me do this
I have something to do today,  maybe later in this weekend

[2021-01-22 07:59] antfu commented on #297
Take your time. Thanks!

[2021-01-22 11:55] HomyeeKing commented on #297
how to do the test?  it takes me for while to write the test case, and find that we are short of test utils dependencies

and it seems can't  run the project successfully
![image](https://user-images.githubusercontent.com/49113249/105487878-c0675700-5ceb-11eb-9446-69acd0d05673.png)

[2021-01-22 12:03] HomyeeKing commented on #297
how to do the test?  It tooks me for while to write the test case and find that we are short of test utils  👀

and it seems we can't run the doc successfully
![image](https://user-images.githubusercontent.com/49113249/105488644-e80aef00-5cec-11eb-9afa-d3ad14581e82.png)

[2021-01-22 15:49] #297 closed

[2021-01-23 01:50] sibbng opened #300 "Some demos are not working"
useElementSize
useElementBounding
useIntersectionObserver

When navigating from other pages, they doesnt work but works after reloading page.

[2021-01-25 06:42] likeswinds opened #302 "useVModel can not use v-model with vue2"
how about this

[code]

[2021-01-26 06:36] antfu commented on #302
Are you talking about custom v-model options? I think this could do but should only apply when there is no `key` provided. Would you like to create a PR for it? Thanks.

[2021-01-27 06:06] likeswinds commented on #302
yes,custom v-model. I haven't created PR yet, but I'll try.

[2021-01-27 06:06] likeswinds commented on #302
yes,custom v-model. I haven't created PR yet, but I'll try.

[2021-01-27 22:30] rromanv opened #308 "How to dynamic import a css with useDark?"
If we are not using tailwind, is there a way to dynamic import (and unload of course) a dark/light css theme?

I'm thinking in implement this with primevue

[2021-01-28 04:28] jacobclevenger commented on #300
These should be fixed now

[2021-01-28 05:06] #269 closed

[2021-01-28 05:13] #300 closed

[2021-01-28 05:23] antfu commented on #308
`useDark` only responsible for togglin your DOM attributes while the styling should be handled by your framework or yourself. For example to have the Tailwind-liked style:

[code]

[2021-01-28 05:23] #308 closed

[2021-01-28 05:53] jacobclevenger opened #309 "Proposed Feature: useFireAuth"
This is a proposal for a new feature called `useFireAuth`. It would live under the `@vueuse/firebase` package. The general idea would be to provide a reactive `user` object as well as a reactive `isAuthenticated` and reactive `authenticationStatus` to allow for easier development using Firebase's authentication API.

- The reactive `user` object would  provide an instance of the `firebase.User` ty

[2021-01-28 07:03] antfu commented on #309
Sounds good, that's see the PR, thanks!

[2021-01-28 10:15] unikitty37 opened #312 "@vue/composition-api is not declared as a dependency"
With a Vue 2 app, after running `yarn add @vueuse/core`, compilation fails with

[code]

Running `yarn add @vue/composition-api` fixes this.

Could VueUse declare `@vue/composition-api` as a dependency so it installs automatically, or does this break things for Vue 3 apps?

[2021-01-28 10:41] antfu commented on #312
We have defined @vue/composition-api as peerDependencies, depends on your package manager, they would install it automatically or throw a warning. We assume users already aware the @vue/composition-api plugin is needed to have Composition API works in Vue 2.

[2021-01-29 18:57] Raiondesu opened #313 "Type mismatch in `useToggle`"
In the definition of `useToggle`, its return type is set to either `() => void` or `[Ref<boolean>, () => void]`:
https://github.com/vueuse/vueuse/blob/dfd0dea8b3288b99bcc662954dbf92a63a4d9e41/packages/shared/useToggle/index.ts#L10-L11

which is incorrect, because in actuality the function returns either `() => boolean` or `[Ref<boolean>, () => boolean]`:
https://github.com/vueuse/vueuse/blob/dfd0d

[2021-01-29 19:04] antfu commented on #313
Oh sure, let's fix it, thanks for catching this!

[2021-01-30 06:38] #313 closed

[2021-01-30 06:39] #312 closed

[2021-01-30 06:39] #292 closed

[2021-01-30 06:40] antfu commented on #292
Shipped in v4.0.11

[2021-01-30 11:57] Asim-Tahir opened #315 "useCookies doesnt write/read cookie 😞"
Thanks for the graceful project 🙏
I made a [demo](https://codesandbox.io/s/demo-usecookies-not-working-heheq?file=/src/components/HelloWorld.vue) into `HelloWorld.vue` component. Am I overlooking something in this demo?
Thx for your help in advance

[2021-01-30 16:52] mHooshdar opened #316 "useVModel emit type is incorrect when component have emits option"
Hi
Thanks for your great compositions.
I used the `useVModel` in my vue3 project. It works fine when the component does not have the `emits` option,  otherwise `vetur` gives an error in the `useVModel` emit type.

![image](https://user-images.githubusercontent.com/25030604/106362432-ffbf2480-6337-11eb-9a78-fd6726812ded.png)

`var emit: (event: "update:modelValue", ...args: any[]) => void
Argument

[2021-01-31 00:43] sibbng opened #317 "Docs: useTimeoutFn demo act differently between client-side navigation and reload"
Restart button isn't active on client side navigation, but active on reload.

https://vueuse.js.org/shared/usetimeoutfn/

[2021-01-31 07:28] #317 closed

[2021-01-31 08:34] antfu commented on #289
What's your expected usage? Not sure if I got you correctly.

[2021-01-31 08:42] #302 closed

[2021-01-31 08:42] #316 closed

[2021-01-31 15:11] IlCallo commented on #289
I tried to use `controlledComputed` to return an object containing refs as properties (using `toRefs`) every time a given condition is met. This won't work as you internally assign the generated value to a `ref`, which will automatically unref everything inside.

[code]

Using a `shallowRef` internally should avoid the problem, but I don't know if there are any side effects with this change, so ju

[2021-01-31 16:22] antfu commented on #289
Thanks for the explanation, that's clear to me! I think we should use `shallowRef` as it would match with the behavior of `computed`. Would you mind creating a PR for this? Thanks!

[2021-02-01 05:34] jacobclevenger commented on #315
Make sure you have the `universal-cookie` package installed. I created a small demo that you can checkout to see how it works https://github.com/jacobclevenger/vueuse-cookies-demo

[2021-02-01 06:42] antfu commented on #289
Fixed in d1c7d4c24dec68cb1adb9a434502b001265b901f, thanks!

[2021-02-01 06:42] #289 closed

[2021-02-01 06:42] #309 closed

[2021-02-01 09:21] IlCallo commented on #289
Thanks!

[2021-02-03 16:24] Asim-Tahir commented on #315
Thank you for your time.
Thx for the demo, its working very well.

[2021-02-03 16:24] #315 closed

[2021-02-04 10:27] likeswinds opened #320 "The binding ref is different in Vue2 and Vue3"
[code]
`target.value`  is dom in vue3
`target.value`  is VueComponent  in vue2
`target.value.$el`  is dom in vue2

Can it be align with VUE3

[code]

[2021-02-04 16:24] mzgajner opened #321 "Reading in useClipboard could be optional"
We're using `useClipboard` for a very simple use-case: a snippet of code and a button to copy it.
![snippet](https://user-images.githubusercontent.com/1853648/106921206-15539600-670c-11eb-92ab-e84f1b04da13.png)
In other words - we don't need the functionality of reading from the clipboard, we just write to it.

The issue is that even though we just do `const { copy } = useClipboard()`, this attach

[2021-02-05 00:17] antfu commented on #321
Sure, sounds reasonable. Let's see the PR, thanks!

[2021-02-05 01:03] antfu commented on #320
Can you share the template you are using? Depends on what you set `ref` at, the template could be a dom element nor a Vue component

[2021-02-05 03:24] likeswinds commented on #320
I made a mistake，The binding ref are the same In Vue2 and Vue3 ，At the same time ，You should use `target.value.$el` instead of `target.value` to get the DOM
[code]

[2021-02-05 03:32] antfu commented on #320
If you understand currently, it's resolved for you right? Closing for now.

[2021-02-05 03:32] #320 closed

[2021-02-05 03:38] likeswinds commented on #320
Should I create a new issue instead？
`onClickOutside` is not work When binding ref in VueComponent .

[2021-02-05 03:41] likeswinds commented on #320
[code]

[2021-02-05 03:48] antfu commented on #320
@likeswinds valid point, you can create a PR directly. Thanks.

[2021-02-05 08:11] cereschen opened #323 "onClickOutside add event pointerdown"
When using a module like Threejs, clicking on the screen only triggers a pointerdown event

[2021-02-05 08:34] antfu commented on #323
Can't really help without a reproduction.

[2021-02-06 05:25] cereschen commented on #323
https://codesandbox.io/s/elastic-architecture-mp7n0?file=/src/components/HelloWorld.vue

here is  the reproduction

@antfu

[2021-02-06 15:03] lstoeferle opened #324 "New function proposal: useSwipe"
Hello @antfu,

I'm back with another function proposal 😄. Few weeks ago I worked on a composable which handles swipe detection based on the `touchStart`, `touchMove` and `touchEnd` event.

[code]

I can open a PR if you think this will add value to your library 😄

[2021-02-06 15:08] antfu commented on #324
Sounds great! Let's see the PR. One thing tho is I think we can have the last three arguments as an options object.

[2021-02-06 15:46] #321 closed

[2021-02-06 15:46] #323 closed

[2021-02-09 08:28] shuperry commented on #283
#325

[2021-02-09 08:30] shuperry commented on #283
@antfu I created r PR，the netlify checks run failed, but I cann't see the logs.

[2021-02-11 05:21] jacobclevenger opened #327 "Function Proposal: useFetch"
I'm proposing a new function called `useFetch`. I think maybe the API could be similar to `useAxios` but for `fetch` since people may not want to add Axios to their project.

I'm thinking something like this

[code]

I imagine it will return something like this
[code]

I've started implementing this in a personal project but thought it might fit well here.

Some of the features I'd like to include

[2021-02-11 12:41] Fanna1119 opened #328 "usePushNotifications"
As title says. A utility for push notifications.

Things we can look at to make this possible either with or without a wrapper.

#### Documentation
https://developer.mozilla.org/en-US/docs/Web/API/Push_API/Best_Practices
https://developer.mozilla.org/en-US/docs/Web/API/Push_API

#### possible wrapper(s)
https://pushjs.org/

Issues:
Push Notifications not supported by safari browsers(mobile and des

[2021-02-11 13:29] antfu commented on #327
Sounds cool, please go ahead. Would love to have a ref showing the status of the request and abort it as well. Thanks

https://developer.mozilla.org/en-US/docs/Web/API/AbortController/abort

[2021-02-11 13:31] antfu commented on #328
Not very familiar with this. How about drafting a PR so we can have a closer look? Thanks.

[2021-02-11 13:50] tom-adsfund opened #329 "CDN doesn't seem to work"
I have the error: "n is undefined".

[2021-02-11 14:19] tom-adsfund commented on #329
That's in Firefox.

In Chromium, I get "Cannot read property 'isClient' of undefined".

And that's with the following in the head tag:

[code]

[2021-02-11 14:46] antfu commented on #329
How about this?

[code]

We might need to either bundle the shared module or properly document this.

[2021-02-11 14:51] tom-adsfund commented on #329
Unfortunately that doesn't work either.

[2021-02-11 19:35] dheimoz commented on #327
Hey guys. Thanks for the great work. I wonder if you have seen https://github.com/sindresorhus/ky

A wrapper or a plugin would be excellent and will save a few hours of your precious time.

[2021-02-11 20:05] jacobclevenger commented on #327
@antfu Sounds good, I'll add the status ref and look into the Abort controllers

[2021-02-11 20:24] tom-adsfund commented on #329
I'd be so happy if this could be fixed, the power of this library is amazing!

[2021-02-13 17:10] colgin opened #332 "Return value of useEventListener is wrong?"
[reproduction](https://codesandbox.io/s/affectionate-yalow-xy6x9?file=/src/components/HelloWorld.vue)
click the stop button, then you can see error.

In source code, useEventListener return stop variable which is not defined, maybe this is a bug in previous [commit](https://github.com/vueuse/vueuse/commit/3a66375059ad46e9bc2e2730a3cfa92d0ec5f7cb#diff-ab9a716fb0ae6dd814343be0f5e15c1a887a810935b0b10

[2021-02-13 17:57] #332 closed

[2021-02-17 12:01] IlCallo opened #334 "useVModel with Vue2 use incorrect event name for v-model"
Hey there!
Was trying to use `useVModel`, but I noticed that the event name used, if no `model` property is defined, automatically becomes `update:<keyName>` instead of `input` even on Vue2.
This is the standard for `.sync` modifier, but not the one for `v-model` on Vue2 (as advertised on [docs](https://vuejs.org/v2/guide/components-custom-events.html)).

Is this intentional? It doesn't seems so,

[2021-02-20 12:31] #324 closed

[2021-02-20 12:49] rogeraabbccdd commented on #329
same problem here, `window.VueUse` returns an empty object and errors.
![chrome_k3TEMCM1vp](https://user-images.githubusercontent.com/15815422/108595987-054ede00-73bd-11eb-8066-a3aad7fe2457.png)

[code]

[2021-02-20 13:17] userquin opened #335 "Changes made to `useEventListener` not working: close is not defined"
Some change made deletes `stop` function...

[2021-02-20 13:33] userquin commented on #335
Try to recover this from history:

https://github.com/vueuse/vueuse/commit/cde4563f80c25b23aaefb3fcf75ed16336bfd0c0#diff-830e350c5d6d8c12673ac43e7736d6171361e43f9a9a9cef443b5715b6d84745

![imagen](https://user-images.githubusercontent.com/6311119/108597285-8c359380-7388-11eb-920a-a9f4c022f72d.png)

[2021-02-20 14:12] #335 closed

[2021-02-20 14:12] #329 closed

[2021-02-20 14:13] #283 closed

[2021-02-20 14:21] antfu commented on #335
Thanks for spotting this out! I don't even remember I made this mistake 😅

[2021-02-20 14:37] antfu commented on #329
Can you help to confirm if this works now with 4.0.0-beta.2? Thanks

[code]

[2021-02-20 14:49] userquin opened #336 "Question: Include version on docs/demo"
Is there any chance to include current version (the version inside itself) on docs/demo home page and/or header pages?

Fix [#335](https://github.com/vueuse/vueuse/issues/335) still fails on current version: from outside we are blind

[2021-02-20 15:49] rogeraabbccdd commented on #329
Yes, it works!
Thanks for quick fix!

[2021-02-21 10:35] userquin opened #337 "Cannot run dev on windows: yarn dev"
I have clone this repo and `yarn dev` just not working:
[code]

Install dependencies:

[code]

and starting vitepress:

[code]

[2021-02-21 10:57] userquin commented on #337
`yarn.lock` is modified adding this entry when running `yarn install`, shouldn't be modified:

![imagen](https://user-images.githubusercontent.com/6311119/108622846-cc098300-743b-11eb-9dd6-fd7f0d894db2.png)

[2021-02-21 18:54] YunYouJun commented on #337
After `yarn install` & `yarn dev`.
I can open homepage. But i get this when i click `useXXX` to see demo.

`[vite] Internal server error: Cannot import non-asset file /../.vitepress/theme/components/DemoContainer.vue which is inside /public.JS/CSS files inside /public are copied as-is on build and can only be referenced via <script src> or <link href> in html.`

[code]

Is there any solution to it

[2021-02-21 19:03] antfu commented on #337
I think there is some edge case of Vite not awaring of linked packages in monorepo, you can try to `yarn build` and then try `yarn dev`?

[2021-02-21 19:16] YunYouJun commented on #337
I have tried this, but no work.

It seems that only `DemoContainer` is not loaded properly. Other content works well.

`DemoContainer` is imported and autoloaded by `vite-plugin-components`. Is it related to this?

https://github.com/vueuse/vueuse/blob/5941b6a64e556846d4f8492d4215c460febc4881/packages/.vitepress/theme/index.ts#L3

https://github.com/vueuse/vueuse/blob/5941b6a64e556846d4f8492d4215c

[2021-02-21 19:27] userquin commented on #337
@antfu sorry for the delay, it works with `yarn build` previous to `yarn dev`

[2021-02-21 19:28] userquin commented on #337
but all sensor entries 404

[2021-02-21 19:29] userquin commented on #337
all entries with 404

[2021-02-21 19:39] userquin commented on #337
maybe `yarn link` + `yarn link @vueuse/core` + `yarn link @vueuse/shared` after build:

[code]

[2021-02-21 19:44] antfu commented on #337
Yeah, can confirm. Might be some bug introduced in the latest deps bump, I'll look into it. Thanks.

[2021-02-21 19:45] userquin commented on #337
iief and  umd last changes?

[2021-02-21 20:10] antfu commented on #337
Should be fixed in the latest commits.

[2021-02-21 20:27] userquin commented on #337
@antfu confirmed, last changes works, also `yarn.lock` not modified.

just `yarn install` + `yarn dev`, there is no need to build it.

[2021-02-21 20:31] userquin commented on #337
but still getting some errors, I need to refresh function pages:
[code]

[2021-02-21 20:32] userquin commented on #337
I have deleted repo, cloned it again, removed from local filesystem and checkout from my fork...

[2021-02-21 20:42] userquin opened #338 "Question: useEventListener function strange import"
On `useEventListener` there is a strange import:
[code]
It is used on:
[code]
On my IDE (IntelliJ Ultimate Edition), this `EventType` points me to `useClickOutside/index.ts`.

[2021-02-21 20:53] userquin commented on #337
also failing building it...

Why `yarn build` touches some index.ts files?

[2021-02-21 20:55] userquin commented on #337
![imagen](https://user-images.githubusercontent.com/6311119/108638427-7f4f9780-748f-11eb-919d-6b1166920c0a.png)

[2021-02-22 01:14] #338 closed

[2021-02-22 01:16] antfu commented on #337
Can you provide more context? And yeah, `index.ts` is generated, it should not be changed unless you touched something related.

[2021-02-22 04:43] #334 closed

[2021-02-22 04:56] antfu commented on #245
Close for inactive.

[2021-02-22 04:56] #245 closed

[2021-02-22 08:58] YunYouJun commented on #337
I pull the latest code. And it works.

[2021-02-22 09:15] antfu commented on #337
Alright, I am closing this now. Thank you guys for the reporting.

[2021-02-22 09:15] #337 closed

[2021-02-23 03:59] #327 closed

[2021-02-23 04:47] #336 closed

[2021-02-23 08:45] #273 closed

[2021-02-23 20:27] wheatjs opened #343 "sidebar active link bug"
**Problem**

It looks like when you load the docs on any of the function pages, it causes the sidebar to always display that page as active in the sidebar even when you switch to another page. See

![image](https://user-images.githubusercontent.com/7064956/108903268-1bda7c80-75eb-11eb-9ecb-e7c293f02b80.png)

After clicking on another function
![image](https://user-images.githubusercontent.com/7064

[2021-02-23 21:23] scottbedard opened #344 "Tailwind classes are not available in demo files"
It looks like the switch to WindiCSS broke some of the purgecss configuration. I noticed this looking at the docs for [`useTransition`](https://vueuse.org/core/useTransition/) that `.relative` does not have any effect. This appears to only be an issue in production, the dev environment still seems to work as expected.

**Steps to reproduce:**
Run `docs:build` command

**Expected result:**
`package

[2021-02-24 04:52] #344 closed

[2021-02-25 10:27] leandrogehlen opened #348 "Allows arrow function in useAsyncState"
I guess helpful allows arrow function in ```useAsyncState```

example:

[code]

Currently this is not possible using typescript

![image](https://user-images.githubusercontent.com/1750751/109139943-d7f68d00-773a-11eb-97c9-8515a332f065.png)

[2021-02-25 22:59] tom-adsfund opened #349 "CDN build: "shared" not available, breaks useLocalStorage"
When I try to use useLocalStorage, I get the error `shared.watchWithFilter is not a function`.

[2021-02-25 23:02] antfu commented on #349
What's the version you are using? Can you share a minimal repro?

[2021-02-25 23:06] tom-adsfund commented on #349
I'm using shared v4.1.1, and core 4.2.0.b1. But you can see the problem when you put the script tags as you say for CDN, and then try to access "watchWithFilter", because it doesn't appear on the VueUse object, or anywhere else.

[2021-02-25 23:53] antfu commented on #349
Make sure you are using the same version for shared and core, and both of them should be ^4.2.0

[2021-02-26 00:01] tom-adsfund commented on #349
OK, that's working, thanks so much.

The versions I was using were from when the issue about CDN was first closed. But maybe that's because I was too quick to get a copy.

[2021-02-26 00:01] #349 closed

[2021-02-27 08:03] #348 closed

[2021-02-27 18:34] 3nuc opened #352 "Add factory function for useFetch"
Usecase:
[code]

[code]

It'd be nice to have an equivalent of `axios.create({baseUrl: API_BASE_URL})` (I know useFetch uses fetch) for useFetch aswell.

Problems with this proposal:
This is basically ... reimplementing axios.create({baseUrl}), with the same dilemmas on the lib developer side like "should I add a / if the user does useFetchFactory('www.google.com') and then useFetchWithBaseUrl('ab

[2021-02-27 18:53] antfu commented on #352
Sounds good to me, and I'd like to have it named as

[code]

to align with other functions we already have.

Would you like to make a PR for it? Thanks!

/cc @jacobclevenger in case you are also interested in this

[2021-02-27 19:14] jacobclevenger commented on #352
Sure, I'd be happy to pick this up. Will send a PR this weekend!

[2021-02-28 08:06] #352 closed

[2021-02-28 10:36] tom-adsfund opened #354 "Global state causing many updates"
I have the value of a part of the global state going in as a prop to a component. That component has an update lifecycle function. That function is being called repeatedly even though the global state isn't changing.

I'm assuming this isn't the desired behavior?

[2021-02-28 10:41] antfu commented on #354
Can you share a repro?

[2021-02-28 11:01] tom-adsfund commented on #354
I don't currently have time.

On the problem itself, I'm assuming that the storage is polled and that triggers an update when it should be checking if anything has actually changed. I could be wrong.

[2021-02-28 11:05] antfu commented on #354
Then bring this up when you have time to give more context and information. Otherwise, it's impossible to tell which part is wrong for you.

[2021-02-28 11:05] #354 closed

[2021-02-28 19:17] scottbedard opened #355 "Utility for repeated transitions"
Hi, a common use case I find myself in with `useTransition` is needing to run the same transition one way (usually `0` to `1`) multiple times. Below is an example of how I've typically been handling this problem ([see example here](https://codesandbox.io/s/sad-firefly-m45fs?file=/src/App.vue))

[code]

While making this computed `progress` value works, it's a bit verbose and has the following limi

[2021-03-01 02:57] colgin opened #356 "Bug: useEventListener doesn't work correctly with v-if"
[reproduce](https://codesandbox.io/s/recursing-lehmann-snt60?file=/src/components/HelloWorld.vue:0-992)

1: click change button
2. click h1 element, event listener was not invoked

why:
watch callback was pending to pendingPreFlushQueue if instance has been mounted, [source code](https://github.com/vuejs/vue-next/blob/1dedc19e1f0a2039d2ab8f55af6e27034b8dcde5/packages/runtime-core/src/apiWatch.ts#L

[2021-03-01 03:14] #356 closed

[2021-03-01 12:15] itpropro opened #357 "Idea: Detect browser capabilities"
I think it would be helpful to have a utility for some basic browser capabilities to e.g. control fallbacks for old browsers. Maybe we could choose some important ones from modernizr (https://modernizr.com/docs)?

[2021-03-01 16:15] antfu commented on #357
For many functions, we already have an `isSupported` flag for each one. Or what's your proposed API for that?

[2021-03-01 19:34] Jogai opened #358 "Index.d.ts error since 4.3"
Header looks like this:

    import { Fn, MaybeRef, ConfigurableEventFilter, ConfigurableFlush, Pausable } from '@vueuse/shared';
    export * from '@vueuse/shared';
    import { Ref, defineComponent, ComputedRef, WritableComputedRef, ToRefs } from 'vue-demi';
    import { Ref as Ref$1 } from 'vue-demi';

Giving me "'"vue-demi"' has no exported member named 'ToRefs'. Did you mean 'toRefs'?"
Also,

[2021-03-01 20:09] jacobclevenger opened #359 "useRafFn docs show incorrect api usage"
In the documentation for the [`useRafFn`](https://vueuse.org/core/useRafFn/) it show the following usage
[code]

This doesn't seem correct to me as there is no elapsed varaible passed to the callback. If it is meant to have one I'll be happy to create a PR, otherwise I think we should update the docs to reflect the api

[2021-03-02 00:03] itpropro commented on #357
You are right, it's better to have the `isSupported` flag and have additional utility functions for additional needed functionalities .

[2021-03-02 00:03] #357 closed

[2021-03-02 07:19] antfu commented on #359
Let's update the docs then. Thanks!

[2021-03-02 07:27] #359 closed

[2021-03-02 13:15] Bluskript opened #361 "Almost no composition APIs work, undefined imports"
When trying this in a project based off of `vitesse`, I found that I was unable to use almost any composition APIs available. Most of them had an error like `watch is not defined`, or `ref is not defined`. After doing some digging, the offending line was found [here](https://github.com/vueuse/vueuse/blob/main/packages/core/useEventListener/index.ts)

![image](https://user-images.githubusercontent.

[2021-03-02 13:55] antfu commented on #361
Can't reproduce, please provide a minimal reproduction.

[2021-03-02 14:05] Bluskript commented on #361
https://github.com/harmony-development/tempest/tree/tempest-vitesse

This isn't modified from the original vitesse template much, but still experiences this issue

[2021-03-02 14:44] antfu commented on #361
Confirmed your fork did have this error on my machine as well. But can't find the problem. As I still do see the problem on Vitesse, I guess it's more related to setup but VueUse itself. To help me better investigating on this, you can

- Generate a new repo with the **latest** Vitesse
- Made changes that introduce this error in **a separated commit**, that way I can see the diff and identified th

[2021-03-02 15:04] Bluskript commented on #361
I have now updated the branch to show diffs. https://github.com/harmony-development/tempest/commit/ec5f7413beca4e28fc4bb6268798a49efd69d376

[2021-03-02 16:04] Bluskript commented on #361
I have no idea what's wrong with this... I have tried isolating libraries I included in the build one by one to see if one of them is causing an issue, but the issue was still not resolved.

[2021-03-03 06:10] antfu commented on #358
Updated your `@vue/composition-api` to `1.0.0-rc.3` and this should be fixed.

That's the weird behavior of `rollup-plugin-dts` but it shouldn't matter anyway.

[2021-03-03 06:10] #358 closed

[2021-03-03 06:11] antfu commented on #355
Sounds good, looking forward to it!

[2021-03-03 06:13] antfu commented on #361
Might be related to your switch from `pnpm` to `yarn`? Which version of yarn are you using?

[2021-03-03 06:56] Jogai commented on #358
Thanks, confirmed

[2021-03-03 13:23] Bluskript commented on #361
I actually only switched from `pnpm` in order to figure out the problem. I have tried installing dependencies with:
`pnpm` 5.18.1
`yarn` 1.21.1
`npm` 7.5.4

[2021-03-03 13:31] Bluskript commented on #361
https://pastebin.com/9peVuFUp
Here's the install log when using `pnpm`, it might be useful...

[2021-03-03 15:46] Bluskript commented on #361
I found the source of the problem! After installing `v-wave`, `vueuse` stops working...

[2021-03-03 16:01] justintaddei commented on #361
v-wave is pretty much the "to-do MVP" of vue directives. Any idea what might be causing the issue? I'll be able to troubleshoot in a couple of hours.

The only thing it does that is any relation to the issue (that I can think of) is register a `pointerdown` event.

[2021-03-03 16:04] justintaddei commented on #361
Is `useMouse` the only hook breaks or do other/all hooks break?

[2021-03-03 16:08] Bluskript commented on #361
All hooks that use Vue break. I'm fairly certain that [isVue3](https://github.com/justintaddei/v-wave/blob/master/src/utils/isVue3.ts#L10) might be causing the issues.

[2021-03-03 16:24] justintaddei commented on #361
Interesting, I'll take a look at that. Although I don't, at first glance, see what could be causing the issue. If I understand it correctly vue-demi distinguishes between vue2 and vue3 at install time. I'm distinguishing which version based on the first character of Vue.version at run time.

I'll take a closer look this afternoon.

[2021-03-03 17:20] scottbedard commented on #355
Cool, I'm going to keep workshopping the idea more before opening a PR. I want to make sure what I submit is something I'm going to be happy with and fits my different use cases. I'm currently playing with a promise based API. I'm not sure if I like this better or not, but it certainly opens the door to different ways of expressing the animation loop and my game logic...

[code]

[2021-03-03 20:21] Bluskript commented on #361
More strange behavior:
If I use the default vitesse template and install `v-wave`, no errors occur.
If I create a new module under `src/modules/ripple.ts`, no errors occur.
If I add `import "v-wave"` at the top of `ripple.ts`, I get the error `ref is not defined`. *note that I didn't install the plugin into Vue, I just imported it.*
If I delete that import statement, *the error doesn't go away*. E

[2021-03-03 20:29] Bluskript commented on #361
I found a solution but it doesn't seem like a good one:

Exclude `v-wave` from being optimized in vite.config.ts:
[code]

[2021-03-03 20:34] justintaddei commented on #361
The strangest thing to me is that it results in `ref is not defined` seeing as I don't make use of any of Vue 3's Composition API.

I'm installing the example now. I'll see what I can find.

[2021-03-03 21:20] justintaddei commented on #361
This may be old news, but the error appears to be thrown at the import statement in vue-demi:

![image](https://user-images.githubusercontent.com/16705594/109870368-3e8e1600-7c27-11eb-9aba-37719fe6a522.png)

If you're not familiar with vue-demi's internal workings, it runs a `postinstall` hook that replaces its `main` file with a specific one depending on the version of Vue that is installed.

Thi

[2021-03-03 21:28] justintaddei commented on #361
I just tried removing `vue-demi` from `optimizeDeps.exclude` and the error has disappeared.
Why was `vue-demi` excluded?

[2021-03-04 09:36] antfu commented on #361
Can confirm this works

Unfortantually, this is not working for me.

It's because `vue-demi` exports all the entries from Vue where Vite will try to bundle another Vue instance inside `vue-demi` which may cause problems. Since vue-demi supports esm and it's a small single file, there is no need to be optimized either.

[2021-03-06 07:28] antfu opened #363 "Preparing v5.0 (Draft)"
We are preparing our next major updates to VueUse.

## Planned changes

- Discontinue APIs that currently marked as `@depreacted`
- Introducing `controls` options, #362
- Renderless components `@vueuse/components`, #486
- Revisit functions
- ...

We are expecting to have breaking changes in this update. If you have any idea of refactoring/redesign current functions, do hesitate to let us know, tha

[2021-03-06 19:31] scottbedard opened #364 "useTransition v5 improvements"
The [`useTransition`](https://vueuse.org/core/useTransition/) function is a good building block, but I often find myself having to stack helpers on top of it. Since we're revisiting functions for 5.0, there are some changes I'd like to make. All of these changes are purely additive, and compatible with the current API.

### ~Controls https://github.com/vueuse/vueuse/pull/362, https://github.com/vu

[2021-03-06 19:32] scottbedard commented on #355
Closing this issue in favor of https://github.com/vueuse/vueuse/issues/364 as a place to think about these sort of things

[2021-03-06 19:32] #355 closed

[2021-03-06 21:48] dm4t2 opened #365 "useFirestore does not work with sub-collections"
Hi, I failed to use `useFirestore` with a sub-collection, for example:

`useFirestore(db.collection('docs').doc('foo').collection('bar'))`

But the collection is wrongly detected as a document by the `isDocumentReference` function:
https://github.com/vueuse/vueuse/blob/345de1aa9d14622df0bff62622416510191f2247/packages/firebase/useFirestore/index.ts#L29

[2021-03-07 05:04] antfu commented on #364
Sounds good!

Besides Array vectors, it will be great to have transitions for objects, which could be incremental (e.g. only update a prop at a time). A bit like [vueuse/motion](https://github.com/vueuse/motion) by @Tahul.

Passing a ref into sounds good, I also think we can use controls to do that. With some extra `restart` `update` functions.

Overall, this sounds like a good improvement for me.

[2021-03-07 05:16] antfu commented on #365
Would you like to create a PR for it? Thanks

[2021-03-07 07:48] dm4t2 commented on #365
Yes I like to do.

[2021-03-11 19:06] userquin opened #372 "useWebWorker: allow provide WorkerOptions for the Worker"
- use `modules` instead `importScripts` and plain `javascript` on browsers supporting this feature: right now only Chrome (see [importFromWorker](https://github.com/GoogleChromeLabs/import-from-worker)).
- configure credentials

[2021-03-11 22:26] #372 closed

[2021-03-12 09:57] dheimoz commented on #372
Estupendo trabajo @userquin .

[2021-03-14 00:55] userquin opened #378 "useFetch: correct small errata on basic usage"
Basic usage => The `useFetch` **funciton** can be used by simply providing a url.

@jacobclevenger

[2021-03-14 01:00] userquin commented on #378
Also here: **requset** on `url` and `options` comments:
[code]

[2021-03-14 01:41] jacobclevenger commented on #378
Thanks I'll send a PR later to fix it

[2021-03-14 05:48] wheatjs opened #379 "useMediaControls"
Just thought of this, but I have not completely thought through the API yet, since I wanted to get some feedback on it first. I guess the general idea would be something like a `useVideo` function(maybe it could be more general like `useMedia` not sure). Generally I think it could look something like

[code]

Currently most of the html5 video functionally is implemented through events, so I though

[2021-03-14 06:18] #378 closed

[2021-03-14 06:55] antfu commented on #379
Sounds cool. Let's see the PR!

About the naming, wdyt for `useVideoControls()`?

[2021-03-14 06:57] jacobclevenger commented on #379
`useVideoControls` sounds good, although there is also the `<audio>` element so we could also have either both `useVideoControls` and `useAudioControls` or just `useMediaControls`

[2021-03-14 07:06] antfu commented on #379
Let's see how much works needed for supporting each. If there are a lot of shared logics sure we can have `useMediaControls`, otherwise it's better to implement separately and make `useMediaControls` a universal wrapper for them.

[2021-03-14 17:33] userquin opened #381 "useWebWorker: return also the worker"
I use web workers with [Comlink](https://github.com/GoogleChromeLabs/comlink) and cannot use `useWebWorker` function, I need the web worker to proxy it.

[2021-03-14 17:59] antfu commented on #381
Sure, feel free to PR

[2021-03-15 23:47] jacobclevenger commented on #379
So far I've gotten both audio and video to work under a singular function with no changes, so I think we can keep them under just `useMediaControls`. According to the [MDN docs](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Video_and_audio_APIs), they use the same API and only have a few differences, like the `poster` property for example, so I think we won't need

[2021-03-17 00:42] scottbedard commented on #364
I think for all of these changes, a proper rewrite of the function is in order. I noticed when implementing vector support that things are starting to get a little complicated and messy. Below is a quick outline of my goals for a maintainable function going forward.

1. **Improve type coverage**<br />Now that we have more than one way to use the function, we need to ensure proper Typescript suppor

[2021-03-20 07:44] yyyang1996 opened #389 "useDark is not reactive when used in vuepress"
## reproduce step
1. git clone this repo [reproduction link](https://github.com/yyyang1996/vueuse-issue-1)
2. yarn install and yarn dev, then open http://localhost:8080/
3. There is a toggle button, click it,  you can see theme changed but the text is not change.

[2021-03-20 11:59] yyyang1996 commented on #389
Resolved by [this](https://github.com/vuepress/vuepress-next/issues/75#issuecomment-803292400).

[2021-03-20 11:59] #389 closed

[2021-03-20 20:30] ThijsAmersfoort opened #390 "useSwipe - onSwipe and onSwipeEnd not fired when touch moves back within threshold"
When a user swipes past the threshold, onSwipeStart is fired and isSwiping.value is set to true. However, when the user moves the touch back within the threshold, direction.value is set back to null, isSwiping.value is set to false and onSwipe is not fired anymore, even though the swipe is started but the user is moving back the touch. Also, when the touch is ended within the threshold, onSwipeEnd

[2021-03-20 20:47] Tahul commented on #390
Hey 😀,

You can take a look at [@vueuse/gesture](https://github.com/vueuse/gesture).

I implemented what you are describing, porting react-use-gesture to Vue.

It already works, and I'm currently working on the documentation!

Please let me know if you have any suggestions!

[2021-03-21 19:15] Fanna1119 commented on #361
I had this issue too could not really pinpoint the problem,
it might have been some version or vue mixed with vue-demi messing up things.
for me after 'npm update' it seem to sort things out.

[2021-03-22 21:57] lstoeferle commented on #390
Hey @ThijsAmersfoort,

thanks for reporting this issue. I will try take some time fixing it thus week. ;)

[2021-03-25 19:43] #379 closed

[2021-03-26 13:01] santicros opened #394 "Add throttle option to useWindowSize & useWindowScroll?"
Hi!!
First thanks a lot for the vueuse project. It's so great!

I think it would be great to add a throttle option to the useWindowSize & useWindowScroll composable. Maybe not by default but as a parameter? It would be great when using it with expensive operations. What do you think?

Thanks!

[2021-03-26 13:05] santicros commented on #394
OH! I didn't find it before, but I've just seen that there is already an EventFilters docs section: https://vueuse.org/guide.html#event-filters that I think does what I need.

Will close for now :)

[2021-03-26 13:05] #394 closed

[2021-03-27 00:50] #390 closed

[2021-03-27 16:01] scottbedard commented on #364
@antfu I'm beginning to implement `{ controls: true }` to expose the `pause` and `resume` functions, and the static types are starting to get pretty complex. We may want to implement type testing. Let me know if you have any thoughts on this matter.
https://github.com/scottbedard/vueuse/blob/2e7f26aab8d0f71d6ba236e051787f233a1bb2c8/packages/core/useTransition/controls.ts#L90-L115

[2021-03-27 16:03] antfu commented on #364
@scottbedard sure, go ahead and make the implementation. I can handle the type testing

[2021-03-28 03:20] 8bu opened #398 "useInterval got suspended when tab inactive"
During staging development my tester reported a problem with countdown timer in my site. They noticed that if the tab was inactive for a while timer would be stopped. I've research a bit and it seems like a Chrome feature to enhance their performance by suspend or slowdown (to 1 min interval) all background/inactive tab. I am not sure is there any limit for setInterval in a tab or not but in my ol

[2021-03-28 03:38] 8bu commented on #398
https://developer.chrome.com/blog/timer-throttling-in-chrome-88/
From this article I think I can try `useRafFn` with these workaround to replace useInterval:
[code]

@antfu how do you think about this? If it's ok maybe we can make a `useRafInterval` to resolve this timer throttling issue. I will close my issue for now since I've found a solution for my problem.

[2021-03-28 03:38] #398 closed

[2021-03-28 18:45] sxzz opened #402 "Optimize the logic of useVModel"
In Vue 2:
[code]

reproduction repo: https://github.com/sxzz/vueuse-usevmodel

We can add an options, `event`

[2021-03-29 05:51] antfu commented on #402
Sounds reasonable, let's see the PR, thanks!

[2021-03-30 16:48] bertonix-dm opened #404 "useBreakpoints doesn't work correctly"
The issue itself is quite straightforward, breakpoint service functions (`smaller`, `between`) shouldn't include last max-width pixel of media query into account. (e.g. 767px is "sm" but 768 isn't)

I've attached two screenshots where you can see the issue itself

useBreakpoints() vs tailwind:

### 767px

![image](https://user-images.githubusercontent.com/59884106/113023737-9f5d2f80-918e-11eb-9243

[2021-03-30 16:51] AndrewSparrowww commented on #404
Thanks for posting, found it pretty annoying.

[2021-03-30 17:29] productfrontenddeveloper opened #405 "onClickOutside: Argument of type 'Ref<null>' is not assignable to parameter of type 'MaybeElementRef'."
![Screen Shot 2021-03-30 at 20 28 51](https://user-images.githubusercontent.com/38668796/113030693-8bb5c700-9196-11eb-8b5a-6f61ae0d5869.png)
iam used some [example](const target = ref(null)
    onClickOutside(target, (event) => accessor.modalComponent.setQuicSearchInterfaceField({ key: 'isOpen', value: false })))

[code]

[2021-03-30 21:40] wheatjs commented on #404
Thanks for the report, I'll take a look at this tonight

[2021-03-31 04:50] #404 closed

[2021-03-31 05:16] antfu commented on #405
![image](https://user-images.githubusercontent.com/11247099/113093850-42f81f80-9223-11eb-8668-f4a4f4c37366.png)

Didn't see the error, what's your tsconfig.json?

[2021-03-31 08:46] productfrontenddeveloper commented on #405
[code]

[2021-03-31 12:25] productfrontenddeveloper commented on #405
This happened after a few updates, but I'm not sure which one. didn't exist before

[2021-03-31 12:27] productfrontenddeveloper commented on #405
![Screen Shot 2021-03-31 at 15 26 32](https://user-images.githubusercontent.com/38668796/113144034-7e034e80-9235-11eb-8f1a-6e9ae97ad768.png)
some -> "@vue/composition-api": "1.0.0-rc.6"

[2021-03-31 12:39] cypressious opened #407 "Consider debouncing setter of Ref returned from `useDebounce`"
I was playing around with `useDebounce` and wrote the following component

[code]

To my surprise, everytime I typed a letter, the `watchEffect` triggered and printed the value of `query`. What I expected to happen was that the `console.log` was debounced and only after I didn't type anything for 500ms, the current value will be printed.

I went to read the source of `useDebounce` and discovered t

[2021-03-31 13:14] cypressious commented on #407
Thinking a bit more about the issue, a couple of questions popped up.

In the current form, writes to the debounced `Ref` are not reflected back to the original `Ref`. Is this intended? If not, maybe `useDebounce` should return a `Readonly<Ref<T>>`?

In that case a new function similar to my last code snippet would make sense that doesn't take a `Ref` as an argument and returns a mutable `Ref` whe

[2021-03-31 14:05] antfu commented on #407
Yeah, that was expected. At the time it was written, Vue 2 does not support the `readonly` API, but it does now. Thank you for spotting this and if you want, I'd be appreciated for a PR.

[2021-03-31 19:38] productfrontenddeveloper commented on #405
vscode update + reload vscode + yarn.lock delete and install fixed :)

[2021-04-01 00:49] hoiheart opened #409 "The debounce or throttle time is not applied dynamically."
I want to use debounce or throttle time dynamically, but it doesn't apply

#### eg
[code]

The value does not change dynamically since the initial inputDelay value was applied

Is there a solution?

[2021-04-01 05:22] productfrontenddeveloper commented on #405
"@vue/runtime-dom": "3.0.10", 2 vs -> 3 update and see problem

[2021-04-01 05:40] wheatjs commented on #405
@productfrontenddeveloper I'm unable to reproduce this using the latest vue version(3.0.10). Can you provide a link to a minimal reproduction repo

[2021-04-01 06:48] gkubisa opened #411 "useAxios: cancel should not change the state of already resolved requests"
If a request is already resolved in any way (success, error, canceled), the [cancel](https://github.com/vueuse/vueuse/blob/50e6ea8f1f164fbb6d8f11534f2398efd9e6657b/packages/integrations/useAxios/index.ts#L53) function should not do anything. It could be achieved easy by adding `if (!loading.value) return;` at the start of the `cancel` function.

[2021-04-01 09:09] sibbng commented on #405
That `_refBrand` thing only exist in https://github.com/vuejs/composition-api/blob/master/src/reactivity/ref.ts

Seems related to changes in https://github.com/vuejs/composition-api/pull/668

[2021-04-01 10:38] #411 closed

[2021-04-03 10:40] gkubisa opened #415 "useAxios: use shallowRef for response, data and error"
Could [useAxios](https://github.com/vueuse/vueuse/blob/3e14ee39f94ceac4bc9684df456f5e41eb076cca/packages/integrations/useAxios/index.ts#L24) be modified to use [shallowRef](https://v3.vuejs.org/api/refs-api.html#shallowref) for [response](https://github.com/vueuse/vueuse/blob/3e14ee39f94ceac4bc9684df456f5e41eb076cca/packages/integrations/useAxios/index.ts#L45), [data](https://github.com/vueuse/vue

[2021-04-04 09:20] #409 closed

[2021-04-04 19:32] wheatjs opened #420 "useFocusTrap: new function"
This is a proposal that would live under `@vueuse/integrations` as `useFocusTrap`. It would be a wrapper around https://github.com/focus-trap/focus-trap

My proposed api would look something like although I'm not 100% set on the names for the methods yet. Let me know if you think this would be a good addition and I'll open a PR

[code]

[2021-04-05 09:47] antfu commented on #420
Sounds good!

[2021-04-05 10:45] brokolosov opened #422 "Global Event Bus"
Any plans for adding a global event Bus? For example wrapper to [mitt](https://github.com/developit/mitt)

[2021-04-05 10:47] antfu commented on #422
Do you have any proposal API in mind?

[2021-04-05 11:01] brokolosov commented on #422
Just like the rest...

`
import { useBus } from '@vueuse/core'

export default defineComponent({
  setup() {
    const {emit, on, off} = useBus()

   emit('foo-event', {value: 'bar'})
  },
})
`

[2021-04-05 12:00] antfu opened #423 "Idea: useSingleton"
An SSR-friendly singleton / lazy initialization implementation.

When you call the function, it will use `inject()` to reuse the previous instance. If it's not found, initialize one and provide it to the app root. This could be useful to implement event pools and free up the event registration for each call/each component, for example [`onKeyStoke`](https://vueuse.org/core/onkeystroke/) and #422 w

[2021-04-05 20:45] lstoeferle commented on #422
I'm using [mitt](https://github.com/developit/mitt) for custom events in Vue3. Could be used as an integration function 😉

[2021-04-05 20:52] lstoeferle commented on #420
Maybe use `hasFocus` instead of `isTrapped`. Just my opinion 😉 you can also keep it like it is 👍

[2021-04-05 20:56] wheatjs commented on #420
Yeah I think I might go with that. I was a bit unsure about the name `isTrapped`

[2021-04-05 20:57] lstoeferle commented on #423
Will it work with Vue2 also?

[2021-04-05 21:01] antfu commented on #423
Yeah, I think it could be when effectScope get backported to Vue 2. Which I think could take a while, would focus on Vue 3.1 first.

[2021-04-06 09:49] gluecksmensch opened #425 "jest tests are failing for vue2 and 3"
I cloned `vueuse` to my local machine to get some inspiration of how you included `vue-demi`. After `npm install` and running the tests (`npm run test:2` or `npm run test:3`) I get jest errors.

For vue 3 tests only: `Cannot find module 'jwt-decode' or its corresponding type declarations.`.
For vue 2 there are 26 failed tests.

Node: v14.15.4
npm: 6.14.10

[2021-04-06 09:53] gluecksmensch opened #426 "code example in README.md: closing bracket must be removed"
There is a closing bracket at the end of the Usage example in the README.md:
[code]

[2021-04-06 13:59] hognevevle opened #427 "Feature request: useMagicKeys() sequence support"
Sequence support like that of Gmail would be really awesome (such as `g` + `n`, or `g` + `p`). That would mean not having to hold down `g` while pressing `n` (which is already supported), but simply hitting those keys one by one in the correct order.

[2021-04-07 07:58] #415 closed

[2021-04-07 08:36] DeFUCC opened #428 "Failed to resolve entry for package "@vueuse/core" error in my vitepress projects."
Can't figure out why this error suddenly crashed my two vitepress projects. I've got vueuse v 4.7.0. The only thing I've done is installed `n` package and changed my node js version to v. 14.

[code]
`vueuse` is used only for dark mode toggle in the theme, so removing the buttons helps to revive my sites for now. Please, help me cope with this sudden break.

[2021-04-07 08:45] #428 closed

[2021-04-07 08:46] DeFUCC commented on #428
Sorry, deleting mode_modules helped me with this issue.

[2021-04-07 11:06] jd-0001 opened #429 "[Bug]: Ctrl is not working with useMagicKeys"
Your provided code snippet which includes `Ctrl` example also isn't working.

I even tried it in Vue 3 with a fresh installation.

### Isn't working (From docs page)
[code]

### Works (`ctrl` is removed)
[code]

### Isn't working
[code]

[2021-04-07 12:11] yogeshkudikala opened #430 "Multiple dependencies not working and local file functions not accessible in useWebWorkerFn"
I'm trying to filter an array of objects using useWebWorkerFn The following is my code to do the same
[code]
When I add dependencies of each function as stated above. It shows an error that it failed to import the scripts because the `createWorkerBlobUrl` is converting the dependencies array to string. Also in the above code doLowerCase is an function present in same file, the function is not work

[2021-04-07 12:52] dheimoz commented on #428
thanks @DeFUCC for the follow up.

[2021-04-07 14:35] sapphi-red opened #431 "`useVModelObject`"
This is a new function proposal.

This function is a helps implementing `v-model="obj"`.

### Usage
[code]

### Sample implementation
[code]

[2021-04-07 14:53] sapphi-red opened #432 "`autoResetRef`"
This is a new ref function proposal.
Maybe it is better to be a composable function.

This is a value which will be reset to the default value after some time.

### Usage
[code]

### Sample Implementation
[code]

[2021-04-07 19:39] wheatjs commented on #429
Thanks for the report, can confirm it is not working. As a workaround until we get this fixed you can use `control` instead of `ctrl`. You can also use `controlLeft` and `controlRight`. We can see if @antfu wants to rename control to `ctrl` though since that seems like his original intention.

[2021-04-08 00:10] wheatjs commented on #425
Since VueUse uses yarn workspaces can you try running `yarn install` instead and then try running the tests

[2021-04-08 04:32] wheatjs commented on #328
In the interest of closing up older issues I say I can either write a wrapper for `pushjs` and we can have it under integrations or maybe we close this issue if not. Looking at the API for `pushjs` though I'm not sure how much it will benefit from a wrapper since it is already pretty clean.

[2021-04-08 05:01] #426 closed

[2021-04-08 05:01] #407 closed

[2021-04-08 06:08] #425 closed

[2021-04-08 06:09] antfu commented on #432
Sounds good, let's see the PR 👍

[2021-04-08 06:21] antfu commented on #431
I kinda get what are you trying to achieve - destructure the props object into an object of refs right? I found this name could be a bit confusing. Also, think this could be quite common when you want to use `toRefs` for a `Ref<{ ... }>`, maybe we can have something a bit more general. Meaning:

[code]

So in your cases, we can simply have

[code]

(not sure the naming yet

WDYT?

[2021-04-08 06:22] #429 closed

[2021-04-08 07:46] #420 closed

[2021-04-08 09:45] antfu commented on #427
Yes. Here is a snippet of Konami Code:

[code]

Might need to think a bit more about the API interface then we can have it included in VueUse.

If you can try it, would love to hear any feedback from you!

[2021-04-08 10:20] ahku opened #437 "useMagicKeys: Documentation errors (`alias` and default mapping of `meta`)?"
On the [documentation page](https://vueuse.org/core/usemagickeys/#usemagickeys):

![image](https://user-images.githubusercontent.com/1736890/114010358-50855900-9864-11eb-9d0d-377ef502e767.png)

Shouldn't `alias` be `aliasMap` here?

And, isn't the meta key the Command key (Mac). [KeyboardEvent.metaKey](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/metaKey). Maybe it's not referrin

[2021-04-08 11:25] antfu commented on #437
Yeah, it's my mistake. Fixing now

[2021-04-08 11:31] #437 closed

[2021-04-08 13:37] #364 closed

[2021-04-08 19:27] userquin opened #438 "useInert / useInertElement: new function"
See WICG inert [here](https://github.com/WICG/inert): it is related to useFocusTrap to avoid traverse with keyboard and mouse focusable dom elements outside the activated scope element.

It would be useful when using modal drawers and dialogs: in both cases, we need to trap focus and make the rest of the ui inert, making only traversable the drawer or dialog content.

Since we have a virtual dom,

[2021-04-09 08:25] sapphi-red commented on #431
Oh yes, the function you suggested is what I actually wanted to have. Great!

This function (`toNestedRefs`) and `toRefs` have a similar return values, so I think the name should be `toRefsFromObjectRef` / `toRefsFromRef` or something: a name which specifies the input value.

[2021-04-09 09:15] antfu commented on #431
The implementation looks good, just need to find a proper name.

- toNestedRefs
- toRefsFromObjectRef
- toRefsFromRef
- refToRefs
- toRefs (extend the functionality of Vue's toRefs, fallback to Vue's toRefs when it's not a ref of object)
- computedRefs

/cc @vueuse/team WDYT?

[2021-04-09 09:45] brokolosov commented on #230
I found a local DB [comparison](http://nolanlawson.github.io/database-comparison/) (localStorage, localForage, Dexie, LokiJS etc.)  Based on this comparison, a better choice would be LokiJS. Dexie is to slowly... IMHO

[2021-04-09 09:58] wheatjs commented on #431
Hmm personally I like the idea of extending `toRefs` although I can maybe also see `toRefsFromRef` or `refToRefs`. `computedRefs` doesn't make too much sense to me though and `toRefsFromObjectRef` is a bit long and I'm not sure how clear `toNestedRefs` is.

[2021-04-09 10:16] jd-0001 commented on #429
Hi @antfu using

[code]

Opens browser search along with hotkey trigger. But if you check VueUse docs, triggering *ctrl+k* doesn't open browser search.

So do we have anything which doesn't open browser search or in general disable system/app hotkeys?

[2021-04-09 10:19] antfu commented on #429
I would say it's better to avoid overriding system hotkeys. But if you want, you can do it by:
https://vueuse.org/core/useMagicKeys/#custom-event-handler

[2021-04-09 10:41] Fanna1119 commented on #230
LokiJS looks really decent, i have never heard of it before, thanks for the share!

[2021-04-10 09:53] #430 closed

[2021-04-11 14:28] lzzfnc opened #441 "`useWebSocket` does not connect"
Hello

I'm trying to setup a simple websocket connection with `VueUse` + `Nuxt`+ `@nuxtjs/composition-api` but the socket doesn't connect. `status` remains stuck in `CONNECTING` and does not upgrade to `OPEN`.
I'm following the example provided in the docs without success.

[Here's a sample repo](
https://github.com/lzzfnc/use-websocket/blob/main/pages/index.vue), and the code:

[code]

I've tried

[2021-04-11 16:40] isgj opened #442 "`useFetch` cannot post with different data"
Is it possible to call once
[code]
and after, when some data have changed call more times?

[code]

I'm able to do so once, but not more times. This is really handy when you have a form, the user submits it, some error happens (probably validation), user changes the data and submits it again.

I see the code responsible for this  is
[code]
Is there any reason for doing so that I'm missing?
Same fo

[2021-04-11 17:35] dheimoz commented on #430
@yogeshkudikala hello, did you manage to sort the problem out?
Thanks.

[2021-04-11 20:24] wheatjs commented on #442
Hmm interesting, thanks for the report, I'll look into it.

[2021-04-12 14:28] Tahul commented on #431
I really like the idea.

The "toNestedRefs" naming seem pretty clear to me.

I really love the idea of "extending" the `toRefs()` function too.

[2021-04-13 04:39] rromanv opened #447 "useFirestore Error when using Query instead of Collection"
This works perfectly

[code]

But when I try to do this
[code]

It fails with the error
[code]

[2021-04-13 04:41] rromanv commented on #447
Node v15.14.0
npm 7.9.0

package.json
[code]

[2021-04-13 04:45] rromanv commented on #447
Does https://github.com/vueuse/vueuse/blob/bba6bcf667a85fb8fe9e34294033cadbbeec9fdf/packages/firebase/useFirestore/index.ts#L30 need to change to
[code]

[2021-04-13 04:54] antfu commented on #447
Mind sending a quick PR? Thanks

[2021-04-13 13:18] 3nuc opened #449 "Add some features from useFetch also to useAxios"
Currently useFetch has execute(), but useAxios does not. This means that with useFetch you can first create useFetch, set {immediate: false}, then execute() the call later, but with useAxios it fires immediately when you call useAxios.

Abort is also missing in useAxios.

Some properties don't make sense to add into axios such as statusText (since that's just in the axios response).

Another thing

[2021-04-13 13:27] 3nuc commented on #449
Or perhaps it's better to just use https://vueuse.org/core/useAsyncState/ for requests in general?

[2021-04-13 14:58] jaonoctus opened #450 "useBreakpoints"
## Description

Module '"@vueuse/core"' has no exported member '`useBreakpoints`'.

## Environment

- @vueuse/core: _^4.0.8_

[2021-04-13 15:02] antfu commented on #450
How about upgrading it? 😂

[2021-04-13 16:12] jaonoctus commented on #450
This function was added in 4.6, right?

Yeah, makes sense. 😅

[2021-04-13 16:12] #450 closed

[2021-04-13 21:37] lstoeferle commented on #449
Hey @3nuc,

I would love to see the `execute()` logic in `useAxios` too. AFAIK there is already an option to cancel request in `useAxios` (I can remember me adding it).

But I don't see any value in introducing breaking changes while refactoring the return type to match `useFetch`. IMO there are only a few rare cases, where somebody is using axios besides the fetch api and vice versa. Typically yo

[2021-04-13 22:46] antfu commented on #449
Would love to align those interfaces. We can make aliases and for APIs and mark some as depreacted. Then drop them in the next major.

[2021-04-13 23:25] wheatjs commented on #449
Which one are we looking to align against? Make `useAxios` align with the `useFetch` interface or `useFetch` align with the `useAxios` interface?

[2021-04-14 01:22] wheatjs opened #451 "potential bug: onClickOutside"
It looks like `onClickOutside` is being called multiple times when the element target is not removed after the `onClickOutside` event is fired. This doesn't show up on the VueUse demo page because the targets are removed, but if they aren't it will be fired twice.

Here is a reproduction on [Vue SFC Playground](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbmltcG9ydCB7IHJlZiB9IGZyb20g

[2021-04-14 01:40] userquin commented on #451
the event is fired once, the problem is that it fires 2 events: a `pointerdown` followed by a `mousedown`, so it should be intentional.
[code]

[2021-04-14 01:54] userquin commented on #451
Maybe [this](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events#event_properties) can be used to filter the callback call.

Previous link can also be used to make `useSwipe` work with mouse.

[2021-04-14 02:17] wheatjs commented on #451
Ah well yeah that's why I linked that one issue

[2021-04-14 06:59] antfu commented on #449
Aligning with useFetch looks better to me

[2021-04-14 07:03] khorsky opened #452 "useStorage: Typescript error when deleting data from storage"
According to the [documentation](https://vueuse.org/core/useStorage/) I should be able to delete data from storage with simple

[code]
However TS compiler is complanin about invalid type: "Type 'null' is not assignable to type 'boolean'" in this case.

Is there a simple way how can I avoid this?

[2021-04-15 08:08] matthieudou opened #453 "`useMagicKeys` Seems to be linked to qwerty keyboard"
Hey,

I'm trying `useMagicKeys` on the vueuse website and when typing the letter `m` on my azerty keyboard, useMagicKeys is returning `Semicolon`. Same for every other qwerty/azerty differences.

Thank you by advance, and big thanks for this package, it's so cool

[2021-04-15 09:10] wheatjs commented on #453
Thanks for the report, we'll take a look into this 😄

I'll leave this here for reference as it might be useful in fixing this https://hacks.mozilla.org/2017/03/internationalize-your-keyboard-controls/

[2021-04-15 09:10] wheatjs commented on #452
Nice catch, we'll take a look!

[2021-04-15 09:11] wheatjs commented on #449
Sounds good, I'll make a PR sometime this week!

[2021-04-15 11:01] #447 closed

[2021-04-16 03:04] jd-0001 opened #455 "[Feature Request] Third Party Component Computed Property"
Hi, This library is really helpful and awesome :heart:

I used Vuetify, BootstrapVue, and Quasar in my development period. Recently, with Vue 3 update and change in template ref, Accessing components' internal value using computed is somehow a hard time for me. I am unable to find the best way for it.

e.g. I am using Vuetify's `v-menu` component and I want to get the computed value of its `isActi

[2021-04-16 04:56] mariusa opened #456 "[feature] useFetch: add afterFetch option"
As discussed in https://github.com/vueuse/vueuse/pull/371

Another use case: we have a loading/busy indicator, set globally with axios interceptors before/after

[2021-04-16 13:59] sibbng commented on #451
As long as `pointerdown` fires at both mouse and touch environment that `mousedown` and `touchstart` events are unnecessary.

Also providing a way to pass custom event names as argument would be nice. Some peoples may want to fire it after `pointerup` event.

Things to do:
1. Listen `pointerdown` as default
2. Allow event type string and array of strings as an option in third argument.

[2021-04-16 20:40] MisaelMa opened #458 "[feature] useNotification : add Notification for broswer"
I wanted to use it to make it easier to use browser notifications but didn't see it being available and I did it with another library

[2021-04-16 22:07] #432 closed

[2021-04-17 11:40] TimonLukas opened #460 "[feature] reactivePick: support computed keys"
Currently `reactivePick` allows you to pick options from an object and have the resulting object be reactive. While this is already useful, the function could be made a lot more useful if it was possible to also have the picking action itself be reactive, i.e. the keys to pick supporting a `Ref`. In my use case I have a component wrapping three subcomponents, and I want to pick the subcomponents p

[2021-04-17 21:11] TimonLukas commented on #460
So I just realized that instead of doing `reactivePick(obj, computed(() => pick))` I can do `computed(() => reactivePick(obj, pick)`. Buuuut it might still be relevant/useful for somebody, so I'll leave the PR open in case you're interested :)

[2021-04-18 01:41] wheatjs commented on #456
Sounds good, I'll try to get a PR going this week

[2021-04-18 01:42] wheatjs commented on #458
Seems like a duplicate of #328, do you have an idea for how you want this API to work?

[2021-04-18 12:39] productfrontenddeveloper opened #462 "useDark: Cannot read property 'observable' of undefined"
[code]

nuxt 2.15.4
yarn build (ssr:true)
yarn start

<img width="1010" alt="Screen Shot 2021-04-18 at 15 39 10" src="https://user-images.githubusercontent.com/38668796/115145819-39ace680-a05c-11eb-83ea-fb760483b4ce.png">

[2021-04-18 13:34] productfrontenddeveloper commented on #462
https://github.com/nuxt-community/composition-api/issues/415

[2021-04-18 13:55] sapphi-red commented on #431
Extending `toRefs` sounds great. I will make a PR.

[2021-04-20 18:47] gkubisa opened #463 "useStorage: improve "storage" event handling"
[Handling of `storage` events](https://github.com/vueuse/vueuse/blob/00b8f31387651ccb4af22b25cfe638aeefa2a3c1/packages/core/useStorage/index.ts#L112) is currently very inefficient, as any storage event causes ALL listening `useStorage` instances to re-read data from the storage object, incurring the overhead of reading and parsing the data. It would be much more efficient to use the properties of

[2021-04-20 19:01] antfu commented on #463
Sounds like a good enhancement, please go ahead and make a PR if you want. Thank you!

[2021-04-20 19:12] gkubisa opened #464 "Usage of composable functions outside the "setup" function"
When looking at functions like [useWindowSize](https://vueuse.org/core/useWindowSize/), [useWindowScroll](https://vueuse.org/core/useWindowScroll/), [useStorage](https://vueuse.org/core/useStorage/), etc I noticed that they [register event listeners on global objects](https://github.com/vueuse/vueuse/blob/00b8f31387651ccb4af22b25cfe638aeefa2a3c1/packages/core/useWindowSize/index.ts#L26) (eg `windo

[2021-04-20 20:04] davay42 commented on #423
@antfu May be it's related to my recent error after updating a vitepress project from vueuse/core 4.8.2 to 4.8.3

[code]

[2021-04-20 23:16] 3nuc opened #465 "useUid - generate unique id for a Vue instance"
When authoring accessible components, sometimes you need an unique id to use on eg. `<label for=""/>` elements or for `aria-describedby` attrs

[code]
The above example is wrong because what if you use the above component many times in the same wrapper component? The id="description" occurs several times and is not uniquely tied to one single, correct description

That can be fixed by doing :id="u

[2021-04-20 23:34] wheatjs commented on #465
Curious as to how this would be different than doing something like
[code]

Since setup runs at around the same time as `beforeCreate` and `created` it would only be called once. `setup` won't rerun when it re-renders.

[2021-04-20 23:42] 3nuc commented on #465
Yeah what you've posted would also work. Tbh what I described in OP is a really tiny menial utility function, but utility => damn I wonder if vueuse has it :P

[2021-04-21 02:33] antfu commented on #464
Awaits https://github.com/vuejs/rfcs/pull/212

[2021-04-21 03:33] antfu commented on #423
@davay42 should be fixed in 4.8.4, thanks! But they are actually not related to this issue.

[2021-04-21 10:50] brokolosov opened #466 "Maybe bug in createGlobalState with using vue-router"
store.ts
[code]

main.ts
[code]

app.vue
[code]

The browser throws the warn "[Vue warn]: inject() can only be used inside setup() or functional components. at <App>" and router undefined in console.

But if in main.ts added line ```.provide('state', useState())``` then warn gone...

[2021-04-21 14:39] germsb opened #469 "There seems to be something wrong with tree shaking"
When I `import {useFocusTrap} from "@vueuse/integrations"`, all the lib is bundled  (qrcode, buffer & co .. ).
[repro](https://github.com/germsb/vueuse-tree-shake)  `npm install`, `npm run dev` See stats.html in dist after build.

[2021-04-21 20:04] antfu commented on #469
Oh, that's a good point and I didn't notice that as I thought rollup will tree-shake unused modules. But looks like there is also no way to explicitly mark an import statement pure (https://github.com/rollup/rollup/issues/2874). The solution of this that comes up my mind is to separate functions into several sub-modules, e.g.

[code]

What do you think?

If we go that way, it will be a breaking ch

[2021-04-21 20:07] antfu commented on #466
I didn't get it, can you share a minimal repro? Thanks

[2021-04-21 22:56] #431 closed

[2021-04-22 16:33] brokolosov commented on #466
here you are [link](https://github.com/brokolosov/vueuse)

[2021-04-22 17:14] germsb commented on #469
Hello, it is true that it is quite difficult to manage.
In short, yes, it's probably the easiest way and the the only way for cdn.

If you want to keep the actual syntax for bundler, share the src entry point where you export all the utilities
[code]
###### it's just a deduction, not sure it's the right way

[2021-04-26 20:22] cawa-93 opened #471 "Menu item not highlighting after search"
### Reproduction:

1. Open https://vueuse.org/
2. Click search field
3. Type `usefetch`
4. Press `Enter`

### Actual behaviour:
`usefetch` in sidebar not highlighted

![зображення](https://user-images.githubusercontent.com/1662812/116145386-ce52bc80-a6cc-11eb-97a3-26a3ac202ddb.png)

### Environment
- Windows 10
- Firefox 89.0b4

[2021-04-26 20:26] cawa-93 opened #472 "There are two active items in the side menu"
### Reproduction:

1. Open https://vueuse.org/core/useActiveElement/
2. Click on any menu item. In my example it's `useEventListener`

### Actual behaviour:
`useActiveElement` and `useEventListener` in sidebar are highlighted together.

![зображення](https://user-images.githubusercontent.com/1662812/116146101-a31c9d00-a6cd-11eb-81d3-69f1f59f18ff.png)

### Environment
- Windows 10
- Firefox 89.0b4

[2021-04-26 20:53] Mirazex opened #473 "[feature] useMeta: work with document meta"
i want your vue-meta implementation to work with meta tags)

[2021-04-26 20:54] wheatjs commented on #472
Duplicate of #343

[2021-04-26 20:54] #472 closed

[2021-04-26 20:55] wheatjs commented on #473
Have you seen https://github.com/vueuse/head?

[2021-04-27 10:36] Mirazex commented on #473
oh, ty

[2021-04-27 10:36] #473 closed

[2021-04-27 14:28] cawa-93 opened #474 "Probable problem with typing `get` function"
[code]

I know about workarounds, but it is interesting if it is possible to fix it in the scenario of use of the `get` function.

[2021-04-27 15:18] antfu commented on #474
This is a limitation of TypeScript itself, and I don't see a clear solution for now.

As an typesafe workaround, I'd say:

[code]

[2021-04-27 15:18] #474 closed

[2021-04-28 07:04] chojnicki opened #475 "Does not work with Cypress CT (problem with vue-demi?)"
Note: I'm not 100% sure if this issue belongs to VueUse, Cypress or Vue-Demi. But I'm using many libraries with Cypress just fine, just not this one, so..

For some reason VueUse is breaking my tests in Cypress component testing. No matter what composable I use, it will throw errors
`> ref is not defined` or `> watch is not defined`. I checked sources and notice that vueuse uses vue-demi under hoo

[2021-04-28 07:56] cawa-93 opened #476 "PhpStorm can't resolve `asyncComputed` variable in template"
#### Reproduce the problem

1. Create Vue SFC:
[code]
2. Check `{{ myAsyncStr.toLowerCase }}` line

#### Expected result
`myAsyncStr` resolves exactly as `myStr`

#### Actual result
PhpStorm Can't resolve `myAsyncStr` as `string`. Type is ` Ref<string> extends Ref<infer V> ? UnwrapRefSimple<V> : UnwrapRefSimple<Ref<string>>`

[2021-04-28 13:28] gkubisa opened #478 "Please use an explicit version number for vue-demi"
Currently the version number of `vue-demi` is "latest" in package.json files, for example [here](https://github.com/vueuse/vueuse/blob/main/packages/core/package.json#L39). Could the supported version range of vue-demi be defined explicitly, like for all other dependencies? This would allow more control over dependencies not only in the VueUse project but also in projects which depend on VueUse.

[2021-04-28 14:16] antfu commented on #478
Yeah, I think we can change it to "*"

[2021-04-29 04:19] #478 closed

[2021-04-29 11:07] cawa-93 opened #479 "useTitle: Not react on title changes from another component"
I have two components. One downloads the data and changes the header based on it. The second - just displays this title.

[code]

[code]

When the application works, the page title and `document.title` are constantly changing, but the `CustomPageTitle Component` does not respond to these changes.

[2021-04-29 19:40] kshahar opened #480 "useAsyncState: allow keeping the current state between execute() calls"
### Issue
The `execute` function always resets the current state to the initial state before updating:

https://github.com/vueuse/vueuse/blob/92223a82967e458f25bea12fbbbda26d68221837/packages/core/useAsyncState/index.ts#L52-L53

This can be problematic in some cases if using the returned `execute` function for refreshing data for example. I modified the demo as an example by adding a button that c

[2021-04-30 06:43] Shinigami92 opened #482 "`UntilBaseInstance#toMatch` assumes that `v` is always of the input type, but it's `unref`ed"
I have following statement where `portals` is of type `ComputedRef<Portal[]>`

[code]

`UntilBaseInstance#toMatch` now assumes that its `v` argument is also of type `ComputedRef<Portal[]>` but it's `Portal[]`

The current workaround is to use `unref`

[code]

The solution could be using `MaybeRef` or something similar 🤔

---

- [x] I'm willing to provide a PR for that
      This would be my first

[2021-05-03 20:08] localhost5001 opened #485 "Incompatible with vite and vue2"
I've created a project with vite+vue2(using plugin)+vueuse and it looks like vueuse doesn't work properly in this setup.

The error I get:

[code]

I tried `useCounter` and `useStorage`, but I think it can be replicated with other methods.

Here is the project link to replicate:
https://github.com/localhost5001/vite-vue2-vueuse-template

[2021-05-05 14:04] lstoeferle commented on #485
Hi @localhost5001,
as far as I can see in your project the `vue-demi` dependency is missing ;) You also can move `vite-plugin-vue2` to the devDepedencies.

I created a `vite` + `vue2` template using `@vueuse/core` beginning of this year. it's maybe worth a look to get started :)

[2021-05-05 20:52] localhost5001 commented on #485
Hi @lstoeferle thank you for your reply, I will try your template. Thank you! Closing the issue.

[2021-05-05 20:52] #485 closed

[2021-05-06 10:38] crutch12 opened #488 "useDocumentOverflow - reactive and centralized document style overflow management"
Sometimes it's useful to control `document.documentElement.style.overflow` programmatically.

For example - when you open modal window and want to disable document scroll

Usage examples:
[code]

[2021-05-06 15:41] syropian opened #489 "Testing useMagicKeys/onKeyStroke with vue-test-utils"
I'm not sure if this would be considered an issue with VueUse or vue-test-utils, but I'm struggling to get a test working that relies on `useMagicKeys` or `onKeyStroke`. Here's a sample test where my code relies on checking if `Shift` is held:

[code]

Unfortunately the test fails — while the click is registered just fine, the Shift key does not seem to be detected.

Edit: fwiw I also tried perfor

[2021-05-06 20:53] lstoeferle commented on #488
Hi @crutch12,
I like your proposal, but maybe we can make it more flexible by allowing basically any HTML-Element and an options object as second function param. The function itself simply returns a `Ref<boolean>`, so we can utilize `useToggle`.

**Options**
[code]

**Usage**
[code]

[2021-05-06 21:07] lstoeferle commented on #489
Hi @syropian,
you probably registered the `useMagicKeys` event listener on the default target, which is `window`. Can you try to trigger the `keydown` event in your test like this:
[code]

[2021-05-07 07:53] crutch12 commented on #488
Hi @lstoeferle,

Maybe it makes sense, but I see some problems in your approach.

If we make it control `overflow/overflowX/overflowY` independently:

[code]

Then `overflow1` will conflict with `overflow2`. Or what should happen if I try to toggle both of them at the same time?

---

What about implementation - I already have written implementation for my approach in own repository
So you may che

[2021-05-07 08:25] antfu commented on #488
Emm, I feel this is a bit too specific. Maybe we can have something more general like `useElementStyle`?

[2021-05-07 08:28] #402 closed

[2021-05-07 08:36] #479 closed

[2021-05-07 08:47] crutch12 commented on #488
@antfu I thought about that and I think we should rely on problems we want to solve.

What problems `useElementStyle` will solve?
I think it's bad practice to change styles from JS when you already use vue scoped styles :)

Also there are a lot of styles and the mechanics of their combination returns many results - you can't repeat them and reactivate.
I mean: what is the sense of setting `border:

[2021-05-07 08:53] wheatjs commented on #488
You are still changing styles from js with this utility though, are you not? I think a more general approach like useElementStyle might be better as what if they want to change more than just the overflow? A user could always wrap `useElementStyle` to recreate the effects of useDocumentOverflow but you can't really do the other way around.

[2021-05-07 09:02] crutch12 commented on #488
Still, but it's different 😃
But it's more... specific.
You control the whole document this way, not the styles of concrete element.

Vue component with scoped styles let you control styles of self component, not the document.

There's a lot of ways to disable document scroll and I think changing `document.documentElement.style.overflow` is the best of them.

I just cant' find cases when user will

[2021-05-07 13:38] syropian commented on #489
@lstoeferle Ah! So obvious but I somehow missed that, thank you! Going ahead and closing this.

[2021-05-07 13:38] #489 closed

[2021-05-08 06:30] ALTURKA opened #490 "Good points, totally fine with using `{ controls: true }`."
Good points, totally fine with using `{ controls: true }`.

About the first two points, you are right. I would say that is more about internal implementation, the docs could still remain the same because you could bundle the two functions in a single page (I think it is roughly the same to explain both ways). I think it is about trade-offs, as usual. Probably users that care a lot about performanc

[2021-05-08 06:33] wheatjs commented on #490
I'm confused, what exactly is the issue here 😅?

[2021-05-08 06:36] #490 closed, assigned to nobody

[2021-05-10 16:16] antfu commented on #363
Nap, just need some time slot for getting back on this project, and also #486. Hopefully I could get it done in a week or two.

[2021-05-11 12:06] florivdg opened #491 "useMagicKeys: Meta key makes combined key stay active"
There is an issue with `useMagicKeys` when using the `Meta` key on a Mac in a combination with other keys that keeps the other pressed key stay active after releasing the keys.

You can actually see this behavior on the [useMagicKeys docs](https://vueuse.org/core/usemagickeys/) itself.
When you open search by pressing `MetaLeft + K` or `MetaRight + K` and then let go of the pressed keys you can se

[2021-05-11 17:28] cawa-93 opened #492 "useMediaControls: Overwrites the values set by the attributes"
https://github.com/vueuse/vueuse/blob/ecd649621c4f7a6703f3cf2d897eb81a2f47a5db/packages/core/useMediaControls/index.ts#L313-L320

I'm not sure if this was intended, but it overwrites the default (browser) values and those that were set by the attributes.

Example:
[code]
[code]
Expected:
[code]
Actual:
[code]

[2021-05-11 17:48] cawa-93 opened #494 "useMediaControls: Unable to catch `error` event"
https://github.com/vueuse/vueuse/blob/ecd649621c4f7a6703f3cf2d897eb81a2f47a5db/packages/core/useMediaControls/index.ts#L352-L360

If you use an unavailable source, the browser will throw an `error` event. But not on the `<video>` tag, but on one of the `<source>` tags (This behavior may be different between browsers, I did not conduct a thorough study). It is important to keep track of such errors

[2021-05-11 19:55] wheatjs commented on #494
Hmm, that's a good point. Maybe we can return something like `const { onSourceError } = useMediaContrls()` that would fire whenever there is an error. I don't quite remember how to create functions like that but I know it is possible.

Perhaps you have another idea on how we could handle it though?

[2021-05-11 19:56] wheatjs commented on #492
Hmm yeah, perhaps whenever the user doesn't specify an option we can default to the attributes. Would you like to make a PR for this? If not I can do it sometime this week

[2021-05-11 19:59] cawa-93 commented on #492
Ok. I Create PR tomorrow.

[2021-05-11 20:12] wheatjs opened #496 "[feature]: createEventHook: new function"
Was thinking perhaps we could introduce something like `useEventHook`. This would allow use to do something like what I mentioned in #494.

[code]

Perhaps there is already a way to do this in VueUse? If so then we can close this.

If not, there is in implementation in the vue-apollo library that looks like it would be a good stating point https://github.com/vuejs/vue-apollo/blob/v4/packages/vue-a

[2021-05-11 20:21] wheatjs commented on #494
Of course we could also just introduce it as a config option. Not sure which option would be preferable tbh

[code]

[2021-05-11 21:04] antfu commented on #496
Sounds good! I want this for a while as well, but didn't got time to do that. I like your API style which matches with Vue's lifecyle hooks. But for the name, I'd prefer name it `createEventHook` as it returns functions instead of reactive states. WDYT>

[2021-05-12 06:04] wheatjs commented on #488
Well I'll say that I'm not completely opposed to it considering we also have utils like `useDark`, but if we did implement this I think maybe creating an abstraction like `useElementStyle` would be a good idea.

That's just my opinion though, antfu would have the final say on this

[2021-05-12 06:15] wheatjs commented on #458
Moving discussion back to #328 as this issue hasn't had any activity and is a duplicate

[2021-05-12 06:15] #458 closed

[2021-05-12 06:19] wheatjs commented on #462
Closing since @productfrontenddeveloper has provided a solution. If you'd like this reopened let me know.

[2021-05-12 06:19] #462 closed

[2021-05-12 06:35] #442 closed

[2021-05-12 06:38] wheatjs commented on #460
Based on the PR it seems like any future progress on this would be best in a new issue, so I'll close this on for now.

[2021-05-12 06:38] #460 closed

[2021-05-12 11:59] Shinigami92 commented on #441
Does it work for you if you call `open()`? (Can also be accessed from the destructuring)

[2021-05-12 12:15] Shinigami92 opened #501 "`useWebSocket` add `immediate` option"
Add an ~~`autoConnect`~~ `immediate` option to `useWebSocket`s options that is default to `true`

_I'm willing to add this feature_

[2021-05-12 12:22] antfu commented on #501
Great, let's see the PR. I'd prefer to name it `immedidate` to align with other functions. You can make the default to `false` for now. And then we can change it to `true` in v5.0.

[2021-05-12 17:35] #501 closed

[2021-05-12 19:49] #496 closed

[2021-05-12 19:59] wheatjs commented on #476
Is this still an issue? I couldn't reproduce it in VSCode. If it is an issue with PHPStorm I'm not quite show how we will be able to address it since that would seem like a bug with PHPStorm.

[2021-05-12 20:12] wheatjs commented on #466
As a workaround you can declare `const router = useRouter()` before `const state = useState()`.

I'm thinking the issue comes from `withScope` here https://github.com/vueuse/vueuse/blob/main/packages/core/createGlobalState/index.ts#L4

Perhaps it has something to do with `createApp` portion, not sure tbh though.

[2021-05-12 20:21] #480 closed

[2021-05-12 20:22] wheatjs commented on #405
@productfrontenddeveloper is this still an issue for you?

[2021-05-12 20:27] wheatjs commented on #465
Hmm yeah I think generating a uuid for each component automatically would probably be outside the scope of VueUse.

Maybe you have some idea on how to add some sort of reactivity to it. Otherwise I imagine the function would just be this 😅
[code]

[2021-05-12 23:45] wheatjs commented on #455
You should just be able to do something like this though, right?
[code]

[2021-05-13 05:06] #492 closed

[2021-05-13 05:09] #494 closed

[2021-05-13 05:10] #463 closed

[2021-05-13 05:11] #456 closed

[2021-05-13 05:20] #465 closed

[2021-05-13 05:22] antfu commented on #476
Yeah, but do agree we should change the internal ref to shallowRef to match with `computed`

[2021-05-13 07:35] wheatjs commented on #441
Just tested on the reproduction and `open` does work.

[2021-05-13 07:35] #441 closed

[2021-05-13 07:37] wheatjs commented on #438
Do you have an example on how you'd like this API to work?

Also seems like it might be a bit early to implement something like this as the support is still pretty poor https://caniuse.com/mdn-api_htmlelement_inert

[2021-05-13 09:22] DevilTea commented on #452
Try to do this
[code]

[2021-05-13 10:02] Shinigami92 commented on #441
With `4.10` there is also now a new option `immediate` that can be used to auto connect the WebSocket
With `5.0` this flag will turned on by default

[2021-05-13 10:39] userquin commented on #438
I have looking into `useFocusTrap` code at seems it can be (re)used but with some changes/addons concerning a11y.

This api will be used as a `polyfill` while `modal/inert` native api not implemented as you pointed in the link. It can be detected just using:

[code]
Since the logic we need to expose is just like `useFocusTrap`, I need to finish my tests with screen readers and I'll feedback result

[2021-05-13 10:46] userquin commented on #438
And of course, if the native `inert` is available, the implementation will just add/remove `inert` attribute when activating or deactivating it to the target element.

[2021-05-13 11:08] productfrontenddeveloper commented on #405
no

[2021-05-13 11:08] #405 closed

[2021-05-13 11:28] userquin opened #511 "useSwipe: make it work also with mouse"
Since `useSwipe` only works with `touch` events, there is no way to make it work using the mouse.

This issue can be solved using [this](https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events#event_properties) as pointed on https://github.com/vueuse/vueuse/issues/451#issuecomment-819164542.

[2021-05-13 15:04] wheatjs commented on #438
Hmm, polyfilling a feature like this might be outside the scope of this library though. Writing polyfills can be pretty tedious, maybe it would be better to wait for it to be supported across most modern browsers?

[2021-05-13 15:21] userquin commented on #438
I'm waiting for `modal/inert` support since 2015...

I close this issue since it is out of scope of this library: the polyfill will be just using/wrapping the wcag implementation (some integration like `useFocusTrap` but forgot it).

[2021-05-13 15:21] #438 closed

[2021-05-13 20:34] #381 closed

[2021-05-14 05:19] brokolosov commented on #466
heh.... that helped, thanks

[2021-05-14 07:46] antfu commented on #466
To use router globally, I would recommend to do:

[code]

[code]

[code]

`createGlobalState` is only provide as a workaround for now. To have full support of it, we will need https://github.com/vuejs/rfcs/pull/212, which likely be Vue 3.2

[2021-05-14 07:46] #466 closed

[2021-05-14 09:20] #451 closed

[2021-05-14 09:58] cawa-93 opened #513 "useMediaControls: Playing state not changed when video reloaded"
We consider a situation when the video was already on the page and then, for some reason, the source changes.

[Here is an playground that demonstrates the problem.](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbmltcG9ydCB7IHJlZiB9IGZyb20gJ3Z1ZSdcbmltcG9ydCB7IHVzZU1lZGlhQ29udHJvbHMgfSBmcm9tICdAdnVldXNlL2NvcmUnXG4gIFxuY29uc3Qgb3JpZ2luU291cmNlID0gJ2h0dHBzOi8vaW50ZXJhY3RpdmUtZXhhbXBsZXM

[2021-05-14 17:37] wheatjs commented on #513
Good catch. I'm kind of leaning towards this option I think

[2021-05-14 19:31] wheatjs commented on #482
@Shinigami92 Did you still want to make a PR for this? If not I can get one going later today. Also I think this might be a breaking change?

[2021-05-14 19:42] Shinigami92 commented on #482
Oh 😯 I totally forgot this PR :eyes:
But I would be interested in doing it to get in touch with the code, but would be over weekend or so

[2021-05-14 20:40] wheatjs commented on #482
Alright no problem 😄

[2021-05-15 07:31] wheatjs commented on #511
I think @lstoeferle wrote this one. @lstoeferle any thoughts on this?

[2021-05-15 08:58] lstoeferle commented on #511
I can have a look and add the mouse events too 👍

[2021-05-16 06:38] bharathvaj-ganesan opened #516 "useVibrate"
Reactive hook to provide physical feedback with device vibration hardware using the Vibration API.

[2021-05-19 09:55] gkubisa opened #521 "useAxios: request should be canceled in onUnmounted"
If a request is not resolved yet and the component in which `useAxios` was called is unmounted, the request should be aborted. I really see no reason for allowing the request to complete in that case.

[2021-05-19 19:25] xorik opened #522 "[useFetch] Feautre request: use refetch also for POST data"
Currently `useFetch` can resend request if I change url. But it would be nice to have the same function if POST data is also changed.

So it can be possible to do something like that:
[code]

[2021-05-19 19:27] holtwick opened #523 "ResizeObserver loop limit exceeded"
In my Sentry logs I found the error "ResizeObserver loop limit exceeded". Maybe it is an idea for improving `useResizeObserver` by connecting it to `requestAnimationFrame`

https://stackoverflow.com/a/58701523/140927

[2021-05-20 00:39] wheatjs opened #524 "feat: maybe extend unref"
I'm not sure if there is already a way to do this, I've been looking and couldn't find anything so I figured I would open an issue.

**Problem**
When writing components for VueUse currently we are doing something like this
[code]

**Possible Solution**
It is a little verbose and I'm thinking there might be some ways we can improve it. My first idea was to do something like either create a new func

[2021-05-20 01:41] antfu commented on #524
A bit confused, couldn't we simply use `reactive`?

[2021-05-20 01:45] wheatjs commented on #524
Oh yeah you are completely right, sorry for the issue 😅

[2021-05-20 01:45] #524 closed

[2021-05-20 02:20] g-plane opened #525 "[useStorage] Allow to use custom serializer"
Currently, `useStorage` will choose different serializer based on default value of `useStorage` call. However, in our case, we need to allow empty value like `null` or `undefined`. For example:

[code]

The code above won't work as expected, because for the default value `null`, `useStorage` will choose the `any` serializer which will just simply stringify an object:

[code]

I wish we can pass a

[2021-05-20 02:23] antfu commented on #525
Sounds reasonable, happy to have it. but how about:

[code]

[2021-05-20 02:37] wheatjs commented on #521
Hmm I'm not sure if that is a good idea, especially if it is something like post data this may introduce unexpected behavior for user. Maybe we can add something to the docs about it showing people how to do it

[2021-05-20 06:02] g-plane commented on #525
That will be better.

[2021-05-20 07:11] cawa-93 commented on #523
I also use ResizeObserver but never faced this error. How I can reproducing this?

[2021-05-20 07:17] #523 closed

[2021-05-20 07:19] cawa-93 commented on #521
It seems this can be easily implemented at the component level:
[code]

[2021-05-20 08:00] wheatjs commented on #521
I agree, it is pretty simple to do at the component level so we should leave it there. One problem I see with aborting it automatically on the component being unmounted is if someone used a response hook to create some toast notification or something it might not work if the component is unmounted before the request is complete. So this should probably be left up to the user as a more intentional

[2021-05-20 08:04] xorik commented on #522
Sure I can call `fetch` manually, but it `useFetch` makes code cleaner, without boilerplate like
[code]

Of course I can do it manually and set ref, but why `useFetch` works for GET, but not POST?

[2021-05-20 08:16] wheatjs commented on #522
I'll take a look into supporting this sometime this week

[2021-05-20 09:41] NoBrainSkull opened #526 "Can't acess to useFetch response's body on error ?"
On a HTTP 400 response sent by the server (missing required fields in a form), useFetch only pass the statusText to the Error object. [source code](https://github.com/vueuse/vueuse/blob/068144d86e3fabf933edb35f1e5c5ee1c3ce2adb/packages/core/useFetch/index.ts#L327)

I'd like to access to the json body response where I can access to the details of the error (statusText is irrelevant in my case). Res

[2021-05-21 10:40] wozien opened #527 "[templateRef]: error trigger?"
My vue sfc code:
[code]

![image](https://user-images.githubusercontent.com/17634819/119125078-f7fcca80-ba63-11eb-8304-da3dd3f896f4.png)

Why can not print when count is 1?

[2021-05-23 02:04] wheatjs commented on #527
Try setting `flush: 'post'` on `watchEffect`. You can see a [working example here](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHRlbXBsYXRlPlxuICA8ZGl2IGNsYXNzPVwiYXBwXCI+XG4gICAgPHNwYW4gcmVmPVwidGFyZ2V0XCIgOmRhdGEtY291bnQ9XCJjb3VudFwiPnt7IGNvdW50IH19PC9zcGFuPlxuICAgIDxidXR0b24gQGNsaWNrPVwib25DbGlja1wiPmNsaWNrPC9idXR0b24+XG4gIDwvZGl2PlxuPC90ZW1wbGF0ZT5cblxuPHNjcmlwdD5cbmltcG9ydCB7IGRlZmluZUNvbXBvbmVudC

[2021-05-23 02:06] #521 closed

[2021-05-23 10:28] ercmage opened #529 "request to add createEventHook result type"
It would be nice if we have this return function createEventHook typed.

[code]
So i can type things like
[code]

[2021-05-23 23:48] Razi91 opened #530 "[feature] watchOnce"
Sometimes it's good to have a watch that will react on change only once. I've made a function for this:

[code]
It returns a function to disable the watch manually.

WDYT?

[2021-05-24 01:37] wheatjs commented on #526
I'll look into fixing this, thanks for the report

[2021-05-24 02:03] wozien commented on #527
ok, thanks

[2021-05-24 05:40] ercmage commented on #529
I just wanted to ask you to add EventHookOn, while at it so i can type

[code]

But you already did it. 🥳  Thank you.

[2021-05-24 06:24] #527 closed

[2021-05-24 17:09] #529 closed

[2021-05-24 17:09] #525 closed

[2021-05-24 22:32] dheimoz commented on #530
hye @Razi91 have you tried?
https://vueuse.org/shared/until/

 I wonder if that is what you want to achieve?

[2021-05-25 07:08] SadWood opened #532 "`UseFetchReturnBase` interface"
when i use `useFetch(url, { immediate: false }).get().json()` as an argument.

no `UseFetchReturnBase`, only `UseFetchReturn`.

[2021-05-25 11:20] antfu opened #533 "5.0 is on beta! 🎉"
We have just released VueUse v5.0 beta!

[code]

Docs: http://next.vueuse.org/
Branch: https://github.com/vueuse/vueuse/tree/next

## Features

- Renderless component usage with the new [`@vueuse/components`](https://next.vueuse.org/guide/components.html) package, by @wheatjs!
- New add-on [`@vueuse/electron`](https://github.com/vueuse/vueuse/tree/next/packages/electron), by @ArcherGu
- New `{ con

[2021-05-25 14:26] Mvsvh opened #534 "Feature-suggestion: integrate body-scroll-lock (or a similar implementation)"
## Why this would be useful

When opening modals or pop-ups the body container should not be scrollable (otherwise the user get's confused when the modal is closed and the user finds himself somewhere else. There are several CSS/js ways to achieve this, but I think it would be great to integrate this as a composition function in vueuse to reduce mental load and add yet another great utility to thi

[2021-05-25 16:47] dheimoz commented on #533
Great work @antfu and @wheatjs . You are just awesome!!

[2021-05-26 03:50] xieyezi opened #537 "[useFetch] How to get the result data?"
I request server data in `setup()` function, this is my request:

[code]
when finish request ,  which `data` console is :

![image](https://user-images.githubusercontent.com/16821989/119599822-53d6a300-be18-11eb-910f-0865873b805e.png)

But the `unref(data)` is null, So how can I get the `data.value` ?

[2021-05-26 03:57] wheatjs commented on #537
When you console log `data` it is a reference and will also update in the console when the value changes. Logging `data.value` will give you the value of `data` at the exact time you log it. Instead you can do something like. You could either use a `watch` to wait for the data like

[code]

or you can use [until](https://vueuse.org/shared/until/)
[code]

[2021-05-26 04:27] xieyezi commented on #537
@wheatjs I got this , thank you!

[2021-05-26 04:27] #537 closed

[2021-05-26 13:25] Razi91 commented on #530
I had to miss it somehow. It works the same way, but a bit different approach.

[2021-05-26 16:25] dheimoz commented on #530
Glad that until helped.

[2021-05-27 00:52] wheatjs commented on #469
Has this been addressed in 5.0 yet @antfu?

[2021-05-27 01:31] antfu commented on #469
emm, not yet, but good point. want to give it a try? 👀

[2021-05-27 08:57] wheatjs commented on #469
Sure, I'll try to get a PR going in a bit

[2021-05-27 12:57] husayt opened #538 "Unnecessary firebase import"
https://github.com/vueuse/vueuse/blob/5e15d7a9622d7caa516bbff8ad7c066f157a617b/packages/firebase/useAuth/index.ts#L2

This import is unnecessary in most of cases
[code]
but makes difference to vendor bundle in all cases.

This is only needed for lines 18-20
https://github.com/vueuse/vueuse/blob/5e15d7a9622d7caa516bbff8ad7c066f157a617b/packages/firebase/useAuth/index.ts#L19

Let's either leave that

[2021-05-27 18:00] wheatjs commented on #538
I don't think in 5.0 this is going to be a problem anymore, you can see #469 for more details.

[2021-05-27 21:39] floydback opened #539 "useFetch and formData doesn't work"
There are only one way I made send the FormData correctly

[code]

I do not understand what the [formData()](https://github.com/vueuse/vueuse/blob/5e15d7a9622d7caa516bbff8ad7c066f157a617b/packages/core/useFetch/index.ts#L76) method was created for. The _multipart/form-data_ never added but I suppose it [should](https://github.com/vueuse/vueuse/blob/5e15d7a9622d7caa516bbff8ad7c066f157a617b/packages

[2021-05-28 15:55] userquin opened #542 "useFetch: multipart form data header must be removed instead added"
`useFecth` line 292 should be:
[code]
The browser `fetch` will do the same check and will break the execution.

We need to check if the formData has any blob/file, in that case we just remove the header.

I think in that case it would be necessary to force the user to include the header, and so `useFetch` usage will be concise, but it is a `breaking change`, but if ppl do not create an  issue no o

[2021-05-28 15:59] userquin commented on #542
@wheatjs you can find an explantion [here](https://muffinman.io/blog/uploading-files-using-fetch-multipart-form-data/).

[2021-05-28 16:07] userquin commented on #542
My logic is inverted, that is, if someone uses `FormData`, then I assume the `content-type` header is not in the request.

The problem here is that we are adding it, breaking the execution and maybe the user executing the request does not include the header...

[2021-05-29 01:25] wheatjs commented on #534
Looks like a duplicate of #488. Will close here and suggest discussing there instead 🙂

[2021-05-29 01:25] #534 closed

[2021-05-29 01:34] wheatjs commented on #542
Interesting, have you tested if this issue occures in `useFetch`?

[2021-05-29 08:19] userquin commented on #542
I haven't tried it yet, but I will...

[2021-05-29 17:32] Shinigami92 opened #543 "Add return types for all composables"
I personally make use of heavy TypeScript by using the eslint rule [typedef](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/typedef.md)

So we could add a return type and export these explicitly for every function.
We also don't need to type them safly but just create somewhat aliases.

We can do that like so

[code]

Are you open for such an a

[2021-05-29 17:43] wheatjs commented on #543
I think it would be great to have them all export their interfaces. For ones that don't currently have an interface I think it would probably be a good idea to do what you suggested. For the ones that do, we can just export their interface

Are you interested in opening a PR? If you do I'd suggest targeting the next branch 🙂

[2021-05-29 18:03] Shinigami92 commented on #543
I will try

[2021-05-29 18:14] userquin commented on #542
@wheatjs can you take a look at [this playground](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbiAgaW1wb3J0IHsgcmVmIH0gZnJvbSAndnVlJ1xuXHRpbXBvcnQgeyB1c2VGZXRjaCB9IGZyb20gJ0B2dWV1c2UvY29yZSdcbiAgXG5cbiAgY29uc3QgeyBwb3N0IH0gPSB1c2VGZXRjaCgnL211bHRpcGFydCcsIHtcbiAgICBtZXRob2Q6ICdQT1NUJyxcbiAgICBwYXlsb2FkVHlwZTogJ2Zvcm1EYXRhJyxcbiAgICBpbW1lZGlhdGU6IGZhbHNlXG4gIH0pXG4gIFxuICBjb25zdCBidWl

[2021-05-29 19:08] userquin commented on #542
[here](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbiAgaW1wb3J0IHsgcmVmIH0gZnJvbSAndnVlJ1xuXHRpbXBvcnQgeyB1c2VGZXRjaCB9IGZyb20gJ0B2dWV1c2UvY29yZSdcbiAgXG4gIGNvbnN0IGJ1aWxkRm9ybURhdGEgPSAoKSA9PiB7XG4gICAgY29uc3QgZm9ybURhdGEgPSBuZXcgRm9ybURhdGEoKVxuICAgIGZvcm1EYXRhLmFwcGVuZChcbiAgICAgIFwiQVwiLCBcbiAgICAgIG5ldyBCbG9iKFxuICAgICAgICBbSlNPTi5zdHJpbmdpZnkoeyBtZXNzYWdlOiBgTXVsdGlwYXJ0IEE6IC

[2021-05-30 03:28] #511 closed

[2021-05-30 03:29] #543 closed

[2021-05-30 03:31] #482 closed

[2021-05-30 04:06] antfu commented on #469
@wheatjs I will do this now

[2021-05-30 06:50] antfu commented on #469
Available in `5.0.0-beta.7`

[code]

The existing usage is still supported and remains the same behavior and tree-shaking limitations

[code]

[2021-05-30 06:50] #469 closed

[2021-05-30 06:51] antfu commented on #538
In 5.0.0-beta.7, change your imports to submodules will do:

[code]

[2021-05-30 06:53] antfu commented on #532
Not sure if I got you, but maybe you are looking for #454? If so, you can try upgrading to v5.0 #533

[2021-05-30 06:53] #532 closed

[2021-05-30 08:29] ilkome commented on #511
When I have inital styles on **target** element and click to it, my inital styles removed and changed to **touch-action: initial**

[2021-05-30 09:12] ilkome opened #548 "usePointerSwipe: target inital styles removed on click"
When I have initial styles on **target** element and click to it, my initial styles removed and changed to **touch-action: initial**
https://gfycat.com/nicesoftcoelacanth
https://github.com/ilkome/usepointerswipe/blob/master/src/App.vue

[2021-05-30 09:26] userquin commented on #542
[this one](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cblx0aW1wb3J0IHsgdXNlRmV0Y2ggfSBmcm9tICdAdnVldXNlL2NvcmUnXG4gIFxuICBjb25zdCBidWlsZEZvcm1EYXRhID0gKCkgPT4ge1xuICAgIGNvbnN0IGZvcm1EYXRhID0gbmV3IEZvcm1EYXRhKClcbiAgICBmb3JtRGF0YS5hcHBlbmQoXG4gICAgICBcIkFcIiwgXG4gICAgICBuZXcgQmxvYihcbiAgICAgICAgW0pTT04uc3RyaW5naWZ5KHsgbWVzc2FnZTogYE11bHRpcGFydCBBOiAke01hdGgucmFuZG9tKCl9YH0pXSwgXG4gIC

[2021-05-30 09:34] userquin commented on #542
there is something wrong on `setMethod`, provided `payloadType` is `formData` but seems the assigment is wrong, see value tooltip once assigned:

![imagen](https://user-images.githubusercontent.com/6311119/120099252-d4f4a980-c13a-11eb-8715-c1948f261dc2.png)

[2021-05-30 09:41] userquin commented on #542
the assigment should be `config.payloadType = payloadType || (typeof payload === 'string' ? 'text' : 'json');`

[2021-05-30 10:14] userquin commented on #542
[here](https://sfc.vuejs.org/#eyJBcHAudnVlIjoiPHNjcmlwdCBzZXR1cD5cbiAgaW1wb3J0IHsgcmVmLCBjb21wdXRlZCB9IGZyb20gJ3Z1ZSdcblx0aW1wb3J0IHsgdXNlRmV0Y2ggfSBmcm9tICdAdnVldXNlL2NvcmUnXG4gIGltcG9ydCB7IHVzZVRvZ2dsZSB9IGZyb20gJ0B2dWV1c2Uvc2hhcmVkJ1xuICBcbiAgY29uc3QgbmF0aXZlRGF0YSA9IHJlZignJylcbiAgY29uc3QgdXNlTmF0aXZlID0gcmVmKGZhbHNlKVxuIFxuICBcbiAgY29uc3QgYnVpbGRGb3JtRGF0YSA9ICgpID0+IHtcbiAgICBjb25zdCBmb3JtRG

[2021-05-30 10:28] userquin commented on #542
Other issue I have found, is that we cannot reuse the execute method once called: we cannot change the payload once executed, since the first execution will change `initialized` to `false` and so, calling again `setMethod` will just do nothing, it is protected to avoid changing anything in the `config` object once `initialized` is set to `true`.

For example, I recently need to upload files in chu

[2021-05-30 10:47] userquin commented on #542
added PR to fix wrong payload type assigment on `setMethod`: #549

[2021-05-30 11:13] userquin commented on #539
@floydback , @dheimoz it is a bug, I made PR #549, see also #542

[2021-05-30 11:16] userquin commented on #539
@floydback `useFetch(url).put(formData, 'formData')` is the correct usage, `formData` is for the response.

You can also use `post` instead `put`: `useFetch(url).post(formData, 'formData')`.

On #542 you have some playground showing the usage.

[2021-05-30 14:15] SadWood commented on #532
I need the `UseFetchReturnBase` type, but right now `index.d.ts` only exports the `UseFetchReturn` type.
The interim solution is to define the `UseFetchReturnBase` type in its own type definition file.
It would be a bit more convenient if could add the export of the `UseFetchReturnBase` type.